<rules>
  <clear />
  <rule name="HTTP to HTTPS redirect" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
  </rule>
  <rule name="CanonicalHostNameRule1" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^mirgames\.ru$" negate="true" />
      <add input="{HTTP_HOST}" pattern="^local\.mirgames\.ru$" negate="true" />
    </conditions>
    <action type="Redirect" url="https://mirgames.ru/{R:1}" />
  </rule>
  <rule name="Imported Rule 1-1" stopProcessing="true">
    <match url="articles/base/pathfind.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/4" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 2">
    <match url="articles/base/gameengine.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/46" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 3">
    <match url="articles/base/autophis.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/49" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 4" patternSyntax="ExactMatch" stopProcessing="true">
    <match url="articles/base/cossacks.html" ignoreCase="true" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/35" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 5">
    <match url="articles/base/3dmath.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/45" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 6">
    <match url="articles/base/pseudo.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/11" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 7">
    <match url="articles/base/aigame.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/26" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 8">
    <match url="articles/base/ai1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/32" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 9">
    <match url="articles/base/aiincrpg.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/33" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 10">
    <match url="articles/base/tparser.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/48" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 11">
    <match url="articles/base/scriptprocessor.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/47" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 12">
    <match url="articles/graphics/maya3.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/9" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 13">
    <match url="articles/graphics/wood.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/16" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 14">
    <match url="articles/graphics/photoshop2.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/15" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 15">
    <match url="articles/graphics/photoshop1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/14" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 16">
    <match url="articles/graphics/maya2.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/8" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 17">
    <match url="articles/graphics/maya1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/6" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 18">
    <match url="articles/opengl/linux_fpc_3.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/21" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 19">
    <match url="articles/opengl/linux_fpc_2.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/20" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 20">
    <match url="articles/opengl/linux_fpc_1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/5" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 21">
    <match url="articles/opengl/vbo.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/22" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 22">
    <match url="articles/opengl/anim3d.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/opengl/anim3d.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 23">
    <match url="articles/opengl/camera.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/17" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 24">
    <match url="articles/opengl/around_gl.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/55" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 25">
    <match url="articles/opengl/opengl3.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/opengl/opengl3.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 26">
    <match url="articles/opengl/opengl2.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/opengl/opengl2.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 27">
    <match url="articles/opengl/opengl1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/44" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 28">
    <match url="articles/opengl/fractlight.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/13" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 29">
    <match url="articles/directx/dxtutorial.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="Topics/42" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 30">
    <match url="articles/directx/d3dcamera.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/39" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 31">
    <match url="articles/directx/embm.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/38" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 32">
    <match url="articles/dglengine/dglstart.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/dglengine/dglstart.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 33">
    <match url="articles/dglengine/textures_fonts.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/dglengine/textures_fonts.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 34">
    <match url="articles/dglengine/2dsprites.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/dglengine/2dsprites.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 35">
    <match url="articles/dglengine/anim.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/dglengine/anim.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 36">
    <match url="articles/dgle2/tutorial0.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/53" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 37">
    <match url="articles/dgle2/tutorial1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/54" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 38">
    <match url="articles/glscene/glscene1.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/glscene/glscene1.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 39">
    <match url="articles/glscene/ode.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/glscene/ode.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 40">
    <match url="articles/omega/tutorial.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/omega/tutorial.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 41">
    <match url="articles/asphyre/asphyre-4.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/asphyre/asphyre-4.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 42">
    <match url="articles/asphyre/fonts.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/asphyre/fonts.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 43">
    <match url="articles/sound/fmod2.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/sound/fmod2.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 44">
    <match url="articles/sound/directsound.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="http://old.mirgames.ru/articles/sound/directsound.html" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 45">
    <match url="articles/net/gameserver.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/12" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 46">
    <match url="articles/net/ainet.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/43" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 47">
    <match url="articles/mobile/j2me-language.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/23" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 48">
    <match url="articles/mobile/j2me.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/24" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 49">
    <match url="articles/mobile/midlet.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/28" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 51">
    <match url="articles/projects/god_pm.html" ignoreCase="false" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/25" redirectType="Permanent" />
  </rule>
  <rule name="Imported Rule 1" stopProcessing="true">
    <match url="blog.*/([0-9]+).*?\.html" ignoreCase="true" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Tags" stopProcessing="true">
    <match url="^tags/([^/]*)/$" ignoreCase="true" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/?tag={R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Tags2" stopProcessing="true">
    <match url="^tag/([^/]*)/$" ignoreCase="true" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/?tag={R:1}" redirectType="Permanent" />
  </rule>
  <rule name="RSS" stopProcessing="true">
    <match url="^rss/.*" ignoreCase="true" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
    <action type="Redirect" url="topics/rss" redirectType="Permanent" />
  </rule>
</rules>