@model MirGames.Domain.Topics.ViewModels.TopicForEditViewModel

@{
    Title = "Редактирование топика";
    PageScriptController = "MirGames.Topics.EditTopicPage";
    AddPageCssClass("edit-topic-page");
}

@section Nav { @Html.Partial("_EditTopicMenu", Model) }

<h3 ng-bind="title">...</h3>
<form class="new-topic-form">
    <div class="form-field">
        <label>Заголовок</label>
        <input type="text" class="topic-title" ng-model="title" required="required" />
    </div>
    <div class="form-field">
        <label>Тэги</label>
        <input type="text" class="topic-tags" ng-model="tags" required="required" />
    </div>
    <div class="form-field">
        <label>Текст</label>
        <texteditor text="text" required="true" show-preview="showPreview" post="save()" attachments="attachments" entity-type="topic" />
    </div>
</form>
