@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html,
body {
  font-size: 12px;
  font-family: Helvetica, Verdana, sans-serif;
  color: #000000;
  background: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 767px;
}
@media (max-width: 479px) {
  html,
  body {
    width: 100vw;
    min-width: 100vw;
  }
}
body {
  overflow: hidden;
  overflow-x: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
section,
nav,
article,
header,
footer {
  display: block;
}
:invalid {
  box-shadow: none;
}
@font-face {
  font-family: 'Droid Sans';
  src: url('fonts/droidsans-webfont.eot');
  src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/droidsans-webfont.woff') format('woff'), url('fonts/droidsans-webfont.ttf') format('truetype'), url('fonts/droidsans-webfont.svg#webfont') format('svg');
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
textarea {
  font-size: 12px;
  font-family: Helvetica, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
a.authorization-required {
  color: rgba(0, 0, 0, 0.5);
}
body > .ajax-request {
  z-index: 100000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
body > .ajax-request > .ajax-request-notification {
  margin: auto auto;
  width: 130px;
  text-align: center;
  padding: 5px;
  background: url("images/ajax-loader.gif") no-repeat center center;
  opacity: 0.0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
body > .ajax-request-executing {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
}
body > .ajax-request-executing > .ajax-request-notification {
  opacity: 1;
}
body > .notification-block {
  margin-left: 430px;
  -moz-transition-property: margin-left;
  -o-transition-property: margin-left;
  -webkit-transition-property: margin-left;
  transition-property: margin-left;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 100001;
  position: relative;
}
body > .notification-block a {
  text-decoration: underline;
  color: #24618d;
}
body > .notification-block a:active,
body > .notification-block a:hover,
body > .notification-block a:focus {
  color: #d04796;
}
body > .notification-block a:hover,
body > .notification-block a:focus,
body > .notification-block a:active {
  text-decoration: underline;
}
body > .notification-block > .activation-notification {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #e8e8ce;
}
body > .notification-block > .notification-sent {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #8d2461;
  color: #ffffff;
}
body > section {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 430px;
  background: #ffffff;
  z-index: 50;
  position: relative;
  margin-top: 0;
  -webkit-box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.3);
  box-shadow: -3px 0px 3px 0px rgba(50, 50, 50, 0.3);
}
@media (max-width: 479px) {
  body > section {
    width: 100%;
    width: 100vw;
  }
}
body > section a {
  text-decoration: underline;
  color: #24618d;
}
body > section a:active,
body > section a:hover,
body > section a:focus {
  color: #d04796;
}
body > section a:hover,
body > section a:focus,
body > section a:active {
  text-decoration: underline;
}
body > footer {
  margin-left: 430px;
}
body > header {
  font-family: "Droid Sans", Tahoma, sans-serif;
  position: absolute;
  left: 0;
  width: 180px;
  height: 100%;
  overflow-x: hidden;
  background: #ffffff;
  z-index: 3;
}
body > header > h1 {
  padding: 0;
  margin: 0;
  background: #365e7b url("images/header_bgr.png") left bottom;
  height: 60px;
}
body > header > h1 > a {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px;
  padding-left: 80px;
  line-height: 50px;
  background: url("images/logo.png") no-repeat 15px center;
}
body > header > h1 > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
body > header > nav > .profile-section {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
body > header > nav > .profile-section:hover {
  opacity: 1;
}
body > header > nav > .profile-section > a {
  color: #808080;
  color: rgba(0, 0, 0, 0.5);
}
body > header > nav > a,
body > header > nav > .profile-section > a {
  font-size: 13px;
  display: block;
  padding: 0px 20px;
  height: 42px;
  line-height: 42px;
  position: relative;
}
body > header > nav > a .counter,
body > header > nav > .profile-section > a .counter {
  position: absolute;
  top: 50%;
  right: 5px;
  padding: 5px;
  background: #8d2461;
  color: #ffffff;
  line-height: 1em;
  margin-top: -11px;
  font-size: 12px;
}
body > header > nav > a .counter:hover,
body > header > nav > .profile-section > a .counter:hover {
  background: #641a45;
}
body > header > nav > a.disabled,
body > header > nav > .profile-section > a.disabled {
  opacity: 0.3;
}
body > header > nav > a:hover,
body > header > nav > .profile-section > a:hover,
body > header > nav > a:active,
body > header > nav > .profile-section > a:active,
body > header > nav > a:focus,
body > header > nav > .profile-section > a:focus,
body > header > nav > a.selected,
body > header > nav > .profile-section > a.selected {
  color: #d04796;
  outline: 0;
}
body > header > nav > a.add-topic .fa,
body > header > nav > .profile-section > a.add-topic .fa {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: -2px;
}
body > header > nav > a.avatar-link img,
body > header > nav > .profile-section > a.avatar-link img {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 5px;
}
body > header > nav > a.avatar-link span,
body > header > nav > .profile-section > a.avatar-link span {
  height: 42px;
  line-height: 42px;
}
body > nav {
  font-family: "Droid Sans", Tahoma, sans-serif;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  position: absolute;
  left: 180px;
  width: 250px;
  height: 100%;
  overflow: hidden;
  background: #f5f7f8;
  z-index: 6;
}
body > nav .fa {
  font-size: 16px;
  margin-right: 7px;
}
body > nav .subsection {
  background: #e1e7eb;
}
body > nav .subsection .subsection {
  padding-left: 10px;
  padding-right: 10px;
}
body > nav .subsection a {
  padding-left: 15px;
}
body > nav .subsection a.disabled {
  opacity: 0.5;
}
body > nav .subsection a.avatar-link {
  background: #b3b3b3;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
body > nav .subsection a.avatar-link:hover {
  background: #808080;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
body > nav .subsection a.avatar-link img {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 5px;
  margin-right: 5px;
}
body > nav a > .counter {
  float: right;
  background: #8b8b8b;
  color: #ffffff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  display: block;
  font-size: 11px;
}
body > nav a > .counter.unread {
  background: #365e7b;
  color: #ffffff;
}
body > nav > .section-content {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  border-top: 60px solid transparent;
  position: relative;
  top: -60px;
}
body > nav > .section-content a {
  font-size: 13px;
  display: block;
  padding: 12.5px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
body > nav > .section-content a.avatar-link {
  position: relative;
}
body > nav > .section-content a.avatar-link img {
  position: absolute;
  top: 0;
}
body > nav > .section-content a.selected {
  background: #a5c3d8;
}
body > nav > .section-content a:hover,
body > nav > .section-content a:active,
body > nav > .section-content a:focus {
  background: rgba(255, 255, 255, 0.7);
  outline: 0;
  color: #d04796;
}
body > nav > .section-content a:hover.selected,
body > nav > .section-content a:active.selected,
body > nav > .section-content a:focus.selected {
  background: #a5c3d8;
}
body > nav > h1 {
  font-size: 16px;
  color: #ffffff;
  height: 60px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  background-color: #5b7f99;
  background-color: rgba(50, 95, 127, 0.8);
  background-image: url("images/header_bgr.png");
  background-position: left bottom;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  z-index: 2;
}
body.nav-hidden > .notification-block {
  margin-left: 180px;
}
body.nav-hidden > section {
  margin-left: 180px;
}
body.nav-hidden > nav {
  width: 0px;
}
body.nav-hidden > footer {
  margin-left: 180px;
}
.no-transition {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
.text-editor-field .tiny-editor {
  position: relative;
}
.text-editor-field div.mdd_editor_wrap textarea {
  height: 300px;
}
.text-editor-field div.mdd_preview {
  display: none;
}
.tiny-editor-show-preview div.mdd_editor_wrap {
  display: none;
}
.tiny-editor-show-preview div.mdd_preview {
  width: 100%;
  display: block;
  border: 1px solid rgba(54, 94, 123, 0.3);
  overflow: auto;
  padding: 10px;
  background: #ffffff;
  z-index: 2;
  margin-bottom: 3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.avatar-small {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.avatar-tiny {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.error-page {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.error-page h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.search-panel {
  margin: 10px 0px;
}
.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #2b4b62;
}
.pagination a {
  color: #ffffff;
}
.pagination a:hover {
  color: #d04796;
}
.pagination span {
  color: #999;
}
.pagination > ol {
  display: block;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.pagination > ol > li {
  display: block;
  margin: 0;
  float: left;
  height: 2.2em;
}
.pagination > ol > li > a,
.pagination > ol > li > span {
  display: block;
  padding: 5px 10px;
  height: 100%;
}
.pagination > ol > li > a:hover {
  background: #f5eef2;
}
.pagination > ol > li.page > span.current-page {
  background: #3f5d72;
  border: 1px solid #24618d;
  color: #ffffff;
}
ul.share {
  display: block;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
ul.share > li {
  display: block;
  margin: 0;
  float: left;
  margin-right: 5px;
}
ul.share > li > a {
  font-size: 14px;
  display: block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  background: #365e7b;
  color: #ffffff;
  padding: 5px;
}
ul.share > li > a:hover {
  background: #d04796;
  color: #ffffff;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
body > header > .online-users {
  padding: 20px;
  overflow: hidden;
}
body > header > .online-users > .user {
  float: left;
  position: relative;
  margin-right: 4px;
}
body > header > .online-users > .user.user-in-chat img {
  border: 1px solid #70adda;
}
body > header > .online-users > .user.user-in-chat .fa-comments {
  display: block;
}
body > header > .online-users > .user.user-in-chat .fa-pencil {
  display: none;
}
body > header > .online-users > .user.chat-writing img {
  border: 1px solid #d04796;
}
body > header > .online-users > .user.chat-writing .fa-comments {
  display: none;
}
body > header > .online-users > .user.chat-writing .fa-pencil {
  display: block;
}
body > header > .online-users > .user i.fa {
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-shadow: 0px 0px 6px #000;
  display: none;
  z-index: 10;
  font-size: 15px;
}
body > header > .online-users > .user .fa-comments {
  color: #c1dcef;
}
body > header > .online-users > .user .fa-pencil {
  color: #f3f371;
}
body > header > .online-users > h3 {
  margin-bottom: 5px;
}
.data-loading {
  width: 130px;
  text-align: center;
  padding: 5px;
  background: url("images/ajax-loader.gif") no-repeat center center;
}
.page-notification {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10000;
  text-align: center;
}
.page-notification > .notification {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.1);
  display: inline;
}
.page-notification > .notification.warning {
  background: rgba(255, 255, 0, 0.1);
}
.page-notification > .notification.error {
  background: rgba(255, 0, 0, 0.1);
}
/*# sourceMappingURL=common.css.map */