form > .form-field {
  margin-bottom: 10px;
}
form > .form-field > label:first-child {
  display: block;
  margin-top: 2px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 13px;
}
form > .form-field > label:first-child i {
  color: #808080;
  font-weight: normal;
  font-style: normal;
}
form > .form-field > .error {
  color: #f00;
  font-size: 11px;
}
form > .form-field input[type="text"],
form > .form-field input[type="password"],
form > .form-field input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgba(54, 94, 123, 0.3);
  outline: none;
  -moz-transition-property: border, box-shadow;
  -o-transition-property: border, box-shadow;
  -webkit-transition-property: border, box-shadow;
  transition-property: border, box-shadow;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
form > .form-field input[type="text"].ng-invalid,
form > .form-field input[type="password"].ng-invalid,
form > .form-field input[type="email"].ng-invalid,
form > .form-field input[type="text"]:invalid,
form > .form-field input[type="password"]:invalid,
form > .form-field input[type="email"]:invalid {
  border: 1px solid rgba(150, 0, 0, 0.2);
}
form > .form-field input[type="text"]:active,
form > .form-field input[type="password"]:active,
form > .form-field input[type="email"]:active,
form > .form-field input[type="text"]:focus,
form > .form-field input[type="password"]:focus,
form > .form-field input[type="email"]:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
}
form > .form-field input[type="text"]:active.ng-invalid,
form > .form-field input[type="password"]:active.ng-invalid,
form > .form-field input[type="email"]:active.ng-invalid,
form > .form-field input[type="text"]:focus.ng-invalid,
form > .form-field input[type="password"]:focus.ng-invalid,
form > .form-field input[type="email"]:focus.ng-invalid,
form > .form-field input[type="text"]:active:invalid,
form > .form-field input[type="password"]:active:invalid,
form > .form-field input[type="email"]:active:invalid,
form > .form-field input[type="text"]:focus:invalid,
form > .form-field input[type="password"]:focus:invalid,
form > .form-field input[type="email"]:focus:invalid {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
}
form > .form-field > .form-field-description {
  color: #999;
  font-size: 11px;
}
form > .form-field:last-of-type {
  margin-bottom: 0;
}
form .recaptchatable {
  border: 1px solid rgba(54, 94, 123, 0.3) !important;
}
form .recaptchatable #recaptcha_response_field {
  border: 1px solid rgba(54, 94, 123, 0.3) !important;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgba(54, 94, 123, 0.3);
  outline: none;
  -moz-transition-property: border, box-shadow;
  -o-transition-property: border, box-shadow;
  -webkit-transition-property: border, box-shadow;
  transition-property: border, box-shadow;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
form .recaptchatable #recaptcha_response_field.ng-invalid,
form .recaptchatable #recaptcha_response_field:invalid {
  border: 1px solid rgba(150, 0, 0, 0.2);
}
form .recaptchatable #recaptcha_response_field:active,
form .recaptchatable #recaptcha_response_field:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
}
form .recaptchatable #recaptcha_response_field:active.ng-invalid,
form .recaptchatable #recaptcha_response_field:focus.ng-invalid,
form .recaptchatable #recaptcha_response_field:active:invalid,
form .recaptchatable #recaptcha_response_field:focus:invalid {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
}
form .recaptchatable #recaptcha_image {
  margin: 0 !important;
}
/*# sourceMappingURL=forms.css.map */