.text {
  font-size: 13px;
  line-height: 1.6em;
  overflow: hidden;
  zoom: 1;
}
.text object,
.text img {
  max-width: 100%;
  max-height: 480px;
  vertical-align: top;
}
.text img.resizable-image {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.text q:before,
.text q:after {
  content: "";
  content: none;
}
.text sub,
.text sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.text b,
.text strong {
  font-weight: bold;
}
.text img[align="left"] {
  margin: 4px 15px 10px 0;
}
.text dd {
  margin: 0 0 0 40px;
}
.text sub {
  bottom: -0.25em;
}
.text ul {
  list-style-type: disc;
}
.text dfn {
  font-style: italic;
}
.text h1 + h2,
.text h4 + h6,
.text h2 + h3,
.text h5 + h6 {
  margin-top: 10px;
}
.text a {
  color: #25628f;
}
.text a:active,
.text a:hover,
.text a:focus {
  color: #d04a97;
}
.text a:hover,
.text a:focus,
.text a:active {
  text-decoration: underline;
}
.text small {
  font-size: 85%;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-weight: normal;
  color: #000;
}
.text h1 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 7px;
}
.text h1:first-child {
  margin-top: 0;
}
.text h2 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 7px;
}
.text h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 7px;
  font-weight: bold;
}
.text h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 7px;
  font-weight: bold;
}
.text h5 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 7px;
  font-weight: bold;
}
.text h6 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 7px;
  font-weight: normal;
}
.text .ls-user {
  color: #3F8AD7;
}
.text sup {
  top: -0.5em;
}
.text pre {
  margin: 0;
  padding: 10px 15px;
  border: none;
  background: #3f3f3f;
  font-size: 12px;
  line-height: 18px;
  overflow: auto;
  width: 100%;
  max-height: 400px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
.text ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
.text .quotetop {
  display: none;
}
.text blockquote,
.text .quotemain {
  margin: 0;
  background: #f3f7fa;
  color: #555;
  padding: 5px 10px;
  clear: both;
  border-left: 5px solid #82abc8;
  margin-bottom: 5px;
  margin-top: 5px;
}
.text blockquote > div,
.text .quotemain > div {
  display: none;
}
.text p {
  margin-bottom: 1em;
}
.text p:first-child {
  margin-top: 0;
}
.text p:last-child {
  margin-bottom: 0;
}
.text q {
  quotes: none;
  clear: both;
}
.text mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
.text abbr[title] {
  border-bottom: 1px dotted;
}
.text .ls-user:hover {
  color: #f00;
}
.text img.image-center {
  display: block;
  margin: 0 auto;
}
.text img[align="right"] {
  margin: 4px 0 5px 15px;
}
.text ol {
  list-style-type: decimal;
}
.text .ls-user:visited {
  color: #3F8AD7;
}
.text hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.text ul,
.text ol {
  margin: 0;
  padding: 0 0 0 40px;
}
/*# sourceMappingURL=text.css.map */