.tiny-editor.drag-over {
  outline: 1px dashed #999;
  opacity: 0.5;
}
.tiny-editor div.mdd_modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  font-size: 10pt;
  background-image: url(mdd_modal_background.png);
}
.tiny-editor div.mdd_modal_frame {
  width: 650px;
  height: 400px;
  background-color: White;
  z-index: 2000;
  margin: 0 auto;
  margin-top: 60px;
  border: solid 5px #808080;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.tiny-editor div.mdd_modal_button {
  position: absolute;
  top: -33px;
  right: -5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 0px;
  height: 20px;
  background-color: #808080;
  z-index: 1999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 1em;
}
.tiny-editor div.mdd_modal_button a {
  color: White;
  text-decoration: none;
}
.tiny-editor div.mdd_modal_button a:hover {
  color: Orange;
}
.tiny-editor div.mdd_modal_content {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.tiny-editor div.mdd_ajax_loader {
  background-position: center center;
  background-image: url(mdd_ajax_loader.gif);
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.tiny-editor div.mdd_syntax {
  font-size: 12pt;
  padding: 10px;
}
.tiny-editor div.mdd_syntax h2 {
  font-size: 14pt;
}
.tiny-editor div.mdd_syntax h3 {
  font-size: 12pt;
}
.tiny-editor div.mdd_syntax pre {
  font-size: 10pt;
  border: solid 1px silver;
  padding: 4px;
  background-color: #f8f8f8;
}
.tiny-editor div.mdd_toolbar_wrap {
  width: 100%;
}
.tiny-editor div.mdd_toolbar {
  padding: 5px;
}
.tiny-editor div.mdd_toolbar ul {
  margin: 0;
  padding: 0;
}
.tiny-editor div.mdd_toolbar li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tiny-editor div.mdd_toolbar a.mdd_button {
  font-size: 14px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
  color: #517793;
  border: 1px solid transparent;
  -moz-transition-property: background-color, border, color;
  -o-transition-property: background-color, border, color;
  -webkit-transition-property: background-color, border, color;
  transition-property: background-color, border, color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  outline: 0;
}
.tiny-editor div.mdd_toolbar a.mdd_button.selected,
.tiny-editor div.mdd_toolbar a.mdd_button.selected:hover {
  background-color: #2d4251;
  color: #ffffff;
}
.tiny-editor div.mdd_toolbar a.mdd_button:hover {
  color: #000;
  background-color: #eef2f5;
  border: 1px solid #8ba9bf;
}
.tiny-editor span.mdd_sep {
  width: 5px;
  height: 24px;
  display: block;
  border-left: solid 1px #808080;
  margin-left: 5px;
}
.tiny-editor div.mdd_links {
  float: right;
}
.tiny-editor div.mdd_links a {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  color: #404040;
}
.tiny-editor div.mdd_links a:hover {
  color: #d04796;
}
.tiny-editor textarea.mdd_editor {
  resize: none;
  margin: 0;
  outline: 0;
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(54, 94, 123, 0.3);
  outline: none;
  -moz-transition-property: border, box-shadow;
  -o-transition-property: border, box-shadow;
  -webkit-transition-property: border, box-shadow;
  transition-property: border, box-shadow;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  padding: 10px;
  font-size: 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tiny-editor textarea.mdd_editor.ng-invalid,
.tiny-editor textarea.mdd_editor:invalid {
  border: 1px solid rgba(150, 0, 0, 0.2);
}
.tiny-editor textarea.mdd_editor:active,
.tiny-editor textarea.mdd_editor:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(54, 94, 123, 0.3);
}
.tiny-editor textarea.mdd_editor:active.ng-invalid,
.tiny-editor textarea.mdd_editor:focus.ng-invalid,
.tiny-editor textarea.mdd_editor:active:invalid,
.tiny-editor textarea.mdd_editor:focus:invalid {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.01), 0 0 5px rgba(150, 0, 0, 0.2);
}
.tiny-editor div.mdd_resizer_wrap {
  width: 100%;
}
.tiny-editor div.mdd_resizer {
  background: #f8f8f8;
  padding-left: 2px;
  padding-right: 2px;
  height: 3px;
  border: solid 1px #d0d0d0;
  margin-top: -1px;
  cursor: n-resize;
}
.tiny-editor form.upload-file {
  margin-top: 3px;
  margin-bottom: 3px;
}
.tiny-editor form.upload-file span {
  font-size: 12px;
  color: #8c8c0c;
}
/*# sourceMappingURL=wmd.css.map */