@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AddPageCssClass("static-page");
}

<div class="page-header">
    <div class="header">
        <h3>О сайте</h3>
    </div>
    <div class="buttons">
    </div>
</div>

<div class="text">
    MirGames.ru - это сайт для тех, чьим хобби или профессией является создание игр.
    Наше сообщество существует с 2003 года на голом энтузиазме.
    У нас вы можете <a href="/topics">поделиться чем-нибудь интересным</a>, <a href="/forum">обсудить возникшие вопросы</a>, или <a href="/chat">просто пообщаться</a> с такими же разработчиками.
</div>