@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AddPageCssClass("static-page");
}

<div class="page-header">
    <div class="header">
        <h3>Помощь</h3>
    </div>
    <div class="buttons">
    </div>
</div>

<div class="text">
    @Html.Markdown(@"Оформление текстов
--------------------------
[Справка по Markdown](help/markdown)")
</div>    

