@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AddPageCssClass("static-page");
    ViewBag.Title = "Пользовательское Соглашение";
}

<div class="page-header">
    <div class="header">
        <h3>Пользовательское Соглашение</h3>
    </div>
    <div class="buttons">
    </div>
</div>

<div class="text">
    @Html.Markdown(@"
Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем mirgames.ru (далее MirGames или Администрация) с одной стороны и пользователем сайта (далее Пользователь) с другой.

Зарегистрировавшись на сайте, Вы соглашаетесь с условиями данного соглашения.

**Если Вы не согласны с условиями данного соглашения, не используйте сайт MirGames!**

Предмет соглашения
--------------------------
Администрация предоставляет пользователю право на размещение на сайте следующей информации:

- Текстовой информации
- Аудиоматериалов
- Видеоматериалов
- Фотоматериалов
- Ссылок на материалы, размещенные на других сайтах

Права и обязанности сторон
-----------------------------------
Пользователь имеет право:

- осуществлять поиск информации на сайте
- получать информацию на сайте
- создавать информацию для сайта
- распространять информацию на сайте
- комментировать контент, выложенный на сайте
- изменять рейтинг пользователей
- копировать информацию на другие сайты с указанием источника
- копировать информацию на другие сайты с разрешения правообладателя
- требовать от администрации скрытия любой информации о пользователе
- использовать информацию сайта в личных некоммерческих целях

Администрация имеет право:

- по своему усмотрению и необходимости создавать, изменять, отменять правила
- ограничивать доступ к любой информации на сайте
- создавать, изменять, удалять информацию
- удалять учетные записи
- отказывать в регистрации без объяснения причин

Пользователь обязуется:

- обеспечивать сохранность личных данных от доступа третьих лиц
- при копировании информации с других источников, включать в её состав информацию об авторе
- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность
- не нарушать работоспособность сайта
- не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу
- не совершать действия, направленные на введение других Пользователей в заблуждение
- не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ
- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами
- вести себя вежливо по отношению к другим Пользователям и Администрации

Администрация обязуется:

- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.
- осуществлять разностороннюю защиту учетной записи Пользователя
- защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила
- предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом

Ответственность сторон
-----------------------------
- пользователь лично несет полную ответственность за распространяемую им информацию
- администрация не несет никакой ответственности за достоверность информации, скопированной из других источников
- администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг
- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами
- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса

Иные условия
------------

- Пользователь осознаёт и соглашается с тем, что размещённая им информация может быть использована поисковыми или другими автоматизированными сервисами и иными способами.
- Сайт MirGames не является средством массовой информации.

Условия действия Соглашения
-------------------------------------
Данное Соглашение вступает в силу при регистрации на сайте.

Соглашение перестает действовать при появлении его новой версии.

Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.

При любом изменении данного соглашения, администрация будет оповещать пользователей удобным для нее способом.")
</div>