.forum-topics-page > section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.forum-topics-page > section > .message {
  padding: 5px 20px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
}
.forum-topics-page > section > .message .fa-envelope {
  color: #d04796;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}
.forum-topics-page > section > .message .fa-envelope-o {
  color: #818d96;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}
.forum-topics-page > section > .message.read .fa-envelope {
  display: none;
}
.forum-topics-page > section > .message.read > .message-content > .topic-title-block > .topic-title {
  color: #2f7db5;
}
.forum-topics-page > section > .message.unread {
  border-left: 5px solid #96818d;
  padding-left: 15px;
}
.forum-topics-page > section > .message.unread .fa-envelope-o {
  display: none;
}
.forum-topics-page > section > .message > .message-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block {
  float: left;
  width: 75%;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 2px;
}
@media (min-width: 1200px) {
  .forum-topics-page > section > .message > .message-content > .topic-title-block {
    float: left;
    width: 66.66666667%;
  }
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > footer {
  font-size: 11px;
  color: #999;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > footer a {
  color: #999;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 15px;
  color: #24618d;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title:active,
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title:hover,
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title:focus {
  color: #b52f7d;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block .new-reply {
  background: #8d2461;
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  padding: 2px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block .new-reply:hover {
  color: #ffffff;
  background: #d04796;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination {
  display: inline-block;
  vertical-align: -5px;
  margin-left: 5px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination {
  background: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 11px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li {
  border: 1px solid #eee;
  margin-left: 1px;
  height: 2em;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li > a {
  color: #24618d;
  padding: 3px 6px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li > a:hover {
  color: #d04796;
}
.forum-topics-page > section > .message > .message-content > .replies-count {
  font-family: "Droid Sans", Tahoma, sans-serif;
  color: #000;
  font-size: 14px;
  text-align: center;
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 25%;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 1200px) {
  .forum-topics-page > section > .message > .message-content > .replies-count {
    float: left;
    width: 8.33333333%;
  }
}
.forum-topics-page > section > .message > .message-content > .last-post-info {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 768px) {
  .forum-topics-page > section > .message > .message-content > .last-post-info {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .forum-topics-page > section > .message > .message-content > .last-post-info {
    float: left;
    width: 12.5%;
  }
}
@media (max-width: 767px) {
  .forum-topics-page > section > .message > .message-content > .last-post-info {
    display: none;
  }
}
.forum-topics-page > section > .message > .message-content > .last-post-info img {
  float: left;
  margin-right: 5px;
}
@media (max-width: 991px) {
  .forum-topics-page > section > .message > .message-content > .last-post-info img {
    display: none;
  }
}
.forum-topics-page > section > .message > .message-content > .last-post-info .topic-updated-date {
  display: block;
  font-size: 12px;
  color: #8c8c0c;
}
.forum-topics-page > section > .message > .message-content > ul.tags {
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.forum-topics-page > section > .message > .message-content > ul.tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.forum-topics-page > section > .message > .message-content > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 150px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.forum-topics-page > section > .message > .message-content > ul.tags > li a:active,
.forum-topics-page > section > .message > .message-content > ul.tags > li a:hover,
.forum-topics-page > section > .message > .message-content > ul.tags > li a:focus {
  color: #ffffff;
}
.forum-topics-page > section > .message > .message-content > ul.tags > li a:hover,
.forum-topics-page > section > .message > .message-content > ul.tags > li a:active,
.forum-topics-page > section > .message > .message-content > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.forum-topics-page > section > .message > .message-content > ul.tags > li:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .forum-topics-page > section > .message > .message-content > ul.tags {
    display: none;
  }
}
@media (min-width: 768px) {
  .forum-topics-page > section > .message > .message-content > ul.tags {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .forum-topics-page > section > .message > .message-content > ul.tags {
    float: left;
    width: 12.5%;
  }
}
.forum-topics-page > section > .topics-not-found {
  padding: 20px 0;
}
.forum-topics-page > section > .topics-not-found:first-of-type {
  padding-top: 0;
}
.forum-topics-page > section > .topics-not-found:last-of-type {
  padding-bottom: 0;
}
.forum-topics-page > section > form {
  margin-bottom: 10px;
}
.forum-topics-page > section > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
  overflow: hidden;
}
.forum-topics-page > section > .pagination {
  padding-left: 20px;
  padding-right: 20px;
}
/*# sourceMappingURL=topics.css.map */