.forum-topic-page > section > .first-post {
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: top;
  -moz-align-items: top;
  -ms-align-items: top;
  align-items: top;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-right: 0;
  margin-bottom: 10px;
  border-bottom: 0;
  min-height: inherit;
}
.forum-topic-page > section > .first-post.unread {
  padding-left: 5px;
  border-left: 5px solid #dbd4d9;
}
.forum-topic-page > section > .first-post > .message-index {
  display: block;
  font-size: 11px;
  color: #24618d;
  width: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-order: 3;
  order: 3;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.forum-topic-page > section > .first-post > .message-index:hover {
  color: #d04796;
}
.forum-topic-page > section > .first-post > .post-block {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.forum-topic-page > section > .first-post > .post-block > .created-date {
  font-size: 11px;
  color: #999999;
  margin-bottom: 10px;
}
.forum-topic-page > section > .first-post > .post-block > .edited {
  font-size: 11px;
  color: #999;
  margin-top: 10px;
}
.forum-topic-page > section > .first-post > .author-block {
  text-align: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 150px;
}
.forum-topic-page > section > .first-post > .author-block img.avatar {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: none;
}
.forum-topic-page > section > .first-post > .author-block > .author-name {
  margin-bottom: 5px;
}
.forum-topic-page > section > .first-post > .author-block > .message-bar {
  font-size: 15px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.forum-topic-page > section > .first-post > .author-block > .message-bar a {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  opacity: 0.5;
}
.forum-topic-page > section > .first-post > .author-block > .message-bar a:hover {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.forum-topic-page > section > .first-post > .author-block > .message-bar a.delete-post {
  color: #900;
}
@media (max-width: 991px) {
  .forum-topic-page > section > .first-post {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .forum-topic-page > section > .first-post > .author-block {
    width: 100%;
    text-align: left;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .forum-topic-page > section > .first-post > .author-block > .author-name {
    font-weight: bold;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
  }
  .forum-topic-page > section > .first-post > .author-block img.avatar {
    background-size: cover;
    background-clip: content-box;
    background-position: top center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-order: 0;
    -moz-order: 0;
    -ms-order: 0;
    order: 0;
    margin-right: 10px;
  }
  .forum-topic-page > section > .first-post > .author-block > .message-bar {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
    margin-bottom: 5px;
  }
  .forum-topic-page > section > .first-post > .message-index {
    display: none;
  }
}
.forum-topic-page > section > .first-post > .text {
  margin-left: 0;
}
.forum-topic-page > section > .topic-bar {
  background: #f5f7f8;
  border: 0;
  border-top: 1px solid #ebeff2;
  border-bottom: 5px solid #c3cfd7;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.forum-topic-page > section > .topic-bar > div,
.forum-topic-page > section > .topic-bar > a {
  margin-right: 10px;
}
.forum-topic-page > section > .topic-bar > .message-bar > .edit-topic,
.forum-topic-page > section > .topic-bar > .message-bar > .delete-topic {
  font-size: 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  background: #d7dfe5;
  color: #000000;
  padding: 5px;
}
.forum-topic-page > section > .topic-bar > .message-bar > .edit-topic:hover,
.forum-topic-page > section > .topic-bar > .message-bar > .delete-topic:hover {
  background: #d04796;
  color: #ffffff;
}
.forum-topic-page > section > .topic-bar > .author-link {
  float: none;
}
.forum-topic-page > section > .topic-bar > .author {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.forum-topic-page > section > .topic-bar > .created-date {
  color: #6d7707;
}
.forum-topic-page > section > .topic-bar > .created-date .fa {
  font-size: 13px;
  color: #000000;
  margin-left: 5px;
}
.forum-topic-page > section > .topic-posts {
  padding: 0 20px;
}
.forum-topic-page > section > .topic-posts > .message {
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: top;
  -moz-align-items: top;
  -ms-align-items: top;
  align-items: top;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  padding-top: 20px;
}
.forum-topic-page > section > .topic-posts > .message.unread {
  padding-left: 5px;
  border-left: 5px solid #dbd4d9;
}
.forum-topic-page > section > .topic-posts > .message > .message-index {
  display: block;
  font-size: 11px;
  color: #24618d;
  width: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-order: 3;
  order: 3;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.forum-topic-page > section > .topic-posts > .message > .message-index:hover {
  color: #d04796;
}
.forum-topic-page > section > .topic-posts > .message > .post-block {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.forum-topic-page > section > .topic-posts > .message > .post-block > .created-date {
  font-size: 11px;
  color: #999999;
  margin-bottom: 10px;
}
.forum-topic-page > section > .topic-posts > .message > .post-block > .edited {
  font-size: 11px;
  color: #999;
  margin-top: 10px;
}
.forum-topic-page > section > .topic-posts > .message > .author-block {
  text-align: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 150px;
}
.forum-topic-page > section > .topic-posts > .message > .author-block img.avatar {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: none;
}
.forum-topic-page > section > .topic-posts > .message > .author-block > .author-name {
  margin-bottom: 5px;
}
.forum-topic-page > section > .topic-posts > .message > .author-block > .message-bar {
  font-size: 15px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.forum-topic-page > section > .topic-posts > .message > .author-block > .message-bar a {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  opacity: 0.5;
}
.forum-topic-page > section > .topic-posts > .message > .author-block > .message-bar a:hover {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.forum-topic-page > section > .topic-posts > .message > .author-block > .message-bar a.delete-post {
  color: #900;
}
@media (max-width: 991px) {
  .forum-topic-page > section > .topic-posts > .message {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .forum-topic-page > section > .topic-posts > .message > .author-block {
    width: 100%;
    text-align: left;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .forum-topic-page > section > .topic-posts > .message > .author-block > .author-name {
    font-weight: bold;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    order: 1;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
  }
  .forum-topic-page > section > .topic-posts > .message > .author-block img.avatar {
    background-size: cover;
    background-clip: content-box;
    background-position: top center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-order: 0;
    -moz-order: 0;
    -ms-order: 0;
    order: 0;
    margin-right: 10px;
  }
  .forum-topic-page > section > .topic-posts > .message > .author-block > .message-bar {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    order: 2;
    margin-bottom: 5px;
  }
  .forum-topic-page > section > .topic-posts > .message > .message-index {
    display: none;
  }
}
.forum-topic-page > section > .answer-form {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.forum-topic-page > section > .answer-form > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.forum-topic-page > section > .answer-form > form > .buttons {
  margin-top: 10px;
}
.forum-topic-page > section > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.forum-topic-page > section > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.forum-topic-page > section > header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.forum-topic-page > section > header > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.forum-topic-page > section > header > ul.tags {
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
  float: right;
  margin-top: 6px;
}
.forum-topic-page > section > header > ul.tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.forum-topic-page > section > header > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.forum-topic-page > section > header > ul.tags > li a:active,
.forum-topic-page > section > header > ul.tags > li a:hover,
.forum-topic-page > section > header > ul.tags > li a:focus {
  color: #ffffff;
}
.forum-topic-page > section > header > ul.tags > li a:hover,
.forum-topic-page > section > header > ul.tags > li a:active,
.forum-topic-page > section > header > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.forum-topic-page > section > header > ul.tags > li:last-child {
  margin-right: 0;
}
.forum-topic-page > section > header h3 {
  margin: 0;
}
/*# sourceMappingURL=topic.css.map */