.forum-topics-page > section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.forum-topics-page > section > .message {
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #f5f5f5;
}
.forum-topics-page > section > .message:last-of-type {
  border-bottom: 0;
}
.forum-topics-page > section > .message .fa-envelope {
  color: #d04796;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}
.forum-topics-page > section > .message .fa-envelope-o {
  color: #818d96;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}
.forum-topics-page > section > .message.read .fa-envelope {
  display: none;
}
.forum-topics-page > section > .message.read > .message-content > .topic-title-block > .topic-title {
  color: #2f7db5;
}
.forum-topics-page > section > .message.unread .fa-envelope-o {
  display: none;
}
.forum-topics-page > section > .message > .message-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block {
  margin-bottom: 2px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > div.tags {
  font-size: 11px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > div.tags > span {
  margin-right: 3px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > div.tags > span a {
  color: #999;
  text-decoration: none;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > div.tags > span a:hover {
  color: #d04796;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > footer {
  font-size: 11px;
  color: #999;
  margin-top: 5px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > footer a {
  color: #24618d;
  text-decoration: none;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > footer a:hover {
  text-decoration: underline;
  color: #d04796;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > footer > span.created-date {
  color: #6d7707;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 15px;
  color: #24618d;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title:active,
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title:hover,
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-title:focus {
  color: #b52f7d;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination {
  display: inline-block;
  vertical-align: -5px;
  margin-left: 5px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 11px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li {
  border: 1px solid #eee;
  margin-left: 1px;
  height: 14px;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li > a {
  color: #24618d;
  padding: 0px 5px;
  text-decoration: none;
}
.forum-topics-page > section > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li > a:hover {
  color: #d04796;
}
.forum-topics-page > section > .message > .message-content > .replies-count {
  font-family: "Droid Sans", Tahoma, sans-serif;
  color: #000;
  font-size: 14px;
  text-align: center;
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.forum-topics-page > section > .message > .message-content > .replies-count .new-reply {
  background: #8d2461;
  font-size: 13px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  padding: 2px;
}
.forum-topics-page > section > .message > .message-content > .replies-count .new-reply:hover {
  color: #ffffff;
  background: #d04796;
}
.forum-topics-page > section > .message > .message-content > .last-post-info {
  width: 20%;
}
@media (max-width: 991px) {
  .forum-topics-page > section > .message > .message-content > .last-post-info {
    display: none;
  }
}
.forum-topics-page > section > .message > .message-content > .last-post-info img {
  float: left;
  margin-right: 5px;
}
@media (max-width: 991px) {
  .forum-topics-page > section > .message > .message-content > .last-post-info img {
    display: none;
  }
}
.forum-topics-page > section > .message > .message-content > .last-post-info .topic-updated-date {
  display: block;
  font-size: 12px;
  color: #8c8c0c;
}
.forum-topics-page > section > .topics-not-found {
  padding: 20px 0;
}
.forum-topics-page > section > .topics-not-found:first-of-type {
  padding-top: 0;
}
.forum-topics-page > section > .topics-not-found:last-of-type {
  padding-bottom: 0;
}
.forum-topics-page > section > form {
  margin-bottom: 10px;
}
.forum-topics-page > section > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
  overflow: hidden;
}
.forum-topics-page > section > .message-header > div > div {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 14px;
}
/*# sourceMappingURL=topics.css.map */