.chat-room-page {
  padding-bottom: 155px;
}
.chat-room-page > footer {
  display: block;
  bottom: 0;
  height: 155px;
  border-top: 1px solid #e6e6e6;
  position: absolute;
  background: #ffffff;
  left: 0px;
  right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 20000;
  overflow: hidden;
  -webkit-box-shadow: -3px 0 3px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: -3px 0 3px 0 rgba(50, 50, 50, 0.3);
  box-shadow: -3px 0 3px 0 rgba(50, 50, 50, 0.3);
}
@media (max-width: 767px) {
  .chat-room-page > footer {
    width: 100%;
    width: 100vw;
  }
}
.chat-room-page > footer .buttons {
  margin-top: 10px;
}
.chat-room-page > footer .buttons .button {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 12px;
  display: block;
  background: #6a91ad;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #517793;
  text-shadow: 0px 0px 4px #000;
  margin-right: 4px;
  line-height: 20px;
  min-width: 60px;
  min-width: 3vw;
  text-align: center;
}
.chat-room-page > footer .buttons .button:hover,
.chat-room-page > footer .buttons .button:active,
.chat-room-page > footer .buttons .button:focus {
  background: #ad6a91;
  border: 1px solid #935177;
  color: #ffffff;
  text-decoration: none;
}
.chat-room-page > footer .buttons .button.button-disabled {
  opacity: 0.5;
  color: #999;
  cursor: default;
  background: #000000;
  border: 1px solid #000000;
}
.chat-room-page > footer .buttons .button.button-disabled:hover {
  color: #999;
  background: #000000;
  border: 1px solid #000000;
}
.chat-room-page > footer .buttons .button.mute {
  min-width: inherit;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.chat-room-page > footer .buttons .button.sendKey {
  float: right;
}
.chat-room-page > footer textarea {
  height: 50px;
}
.chat-room-page > footer .mdd_preview,
.chat-room-page > footer .mdd_resizer_wrap {
  display: none;
}
.chat-room-page > footer .buttons > a {
  line-height: 20px;
  height: 20px;
}
.chat-room-page > section > header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}
.chat-room-page > section > header > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.chat-room-page > section > .toolbar {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.chat-room-page > section > .toolbar .button {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 12px;
  display: block;
  background: #6a91ad;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #517793;
  text-shadow: 0px 0px 4px #000;
  margin-right: 4px;
  line-height: 20px;
  min-width: 60px;
  min-width: 3vw;
  text-align: center;
}
.chat-room-page > section > .toolbar .button:hover,
.chat-room-page > section > .toolbar .button:active,
.chat-room-page > section > .toolbar .button:focus {
  background: #ad6a91;
  border: 1px solid #935177;
  color: #ffffff;
  text-decoration: none;
}
.chat-room-page > section > .toolbar .button.button-disabled {
  opacity: 0.5;
  color: #999;
  cursor: default;
  background: #000000;
  border: 1px solid #000000;
}
.chat-room-page > section > .toolbar .button.button-disabled:hover {
  color: #999;
  background: #000000;
  border: 1px solid #000000;
}
.chat-room-page > section > .chat-messages {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}
.chat-room-page > section > .chat-messages > .message {
  padding: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  border: 0;
  margin-bottom: 1px;
}
.chat-room-page > section > .chat-messages > .message:first-of-type {
  padding-top: 0;
}
.chat-room-page > section > .chat-messages > .message:last-of-type {
  padding-bottom: 0;
}
.chat-room-page > section > .chat-messages > .message.message-chain {
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.chat-room-page > section > .chat-messages > .message.own-message {
  border-left: 5px solid #e8e8ce;
}
.chat-room-page > section > .chat-messages > .message.own-message > header {
  width: 145px;
}
.chat-room-page > section > .chat-messages > .message.own-message > .text {
  margin-left: 165px;
}
.chat-room-page > section > .chat-messages > .message.own-message > header > .user-login {
  color: #666;
}
.chat-room-page > section > .chat-messages > .message.first-unread {
  border-top: 1px dashed #999;
}
.chat-room-page > section > .chat-messages > .message.system-message .text {
  font-size: 11px;
  color: #999;
}
.chat-room-page > section > .chat-messages > .message.editing {
  background: #f4f4e7;
}
.chat-room-page > section > .chat-messages > .message > header {
  width: 150px;
  float: left;
  text-align: right;
}
.chat-room-page > section > .chat-messages > .message > header > .user-login {
  margin-right: 20px;
  line-height: 24px;
  font-weight: bold;
}
.chat-room-page > section > .chat-messages > .message > header > .avatar-link {
  float: right;
}
.chat-room-page > section > .chat-messages > .message > header > .avatar-link > img {
  float: none;
}
.chat-room-page > section > .chat-messages > .message > .date {
  margin-top: 2px;
  font-size: 11px;
  padding: 3px;
  background: #8c8c0c;
  text-align: right;
  color: #ffffff;
  float: right;
}
.chat-room-page > section > .chat-messages > .message > .edit-date {
  margin-top: 2px;
  font-size: 11px;
  padding: 3px;
  background: #0c8c8c;
  text-align: right;
  color: #ffffff;
  margin-left: 1px;
  float: right;
}
.chat-room-page > section > .chat-messages > .message > .message-toolbar {
  float: right;
  margin-right: 5px;
  font-size: 13px;
  line-height: 24px;
}
.chat-room-page > section > .chat-messages > .message > .text {
  padding-top: 2px;
  margin-left: 170px;
  margin-right: 80px;
}
@media (max-width: 991px) {
  .chat-room-page > section > .chat-messages > .message.own-message > header,
  .chat-room-page > section > .chat-messages > .message > header {
    float: none;
    width: auto;
  }
  .chat-room-page > section > .chat-messages > .message > .message-toolbar {
    text-align: right;
  }
  .chat-room-page > section > .chat-messages > .message > header {
    text-align: left;
    height: 27px;
  }
  .chat-room-page > section > .chat-messages > .message > header > .user-login {
    margin-left: 10px;
  }
  .chat-room-page > section > .chat-messages > .message > header > .avatar-link {
    float: left;
  }
  .chat-room-page > section > .chat-messages > .message.own-message > header {
    text-align: right;
  }
  .chat-room-page > section > .chat-messages > .message.own-message > header > .user-login {
    margin-left: 0px;
  }
  .chat-room-page > section > .chat-messages > .message.own-message > header > .avatar-link {
    float: right;
  }
  .chat-room-page > section > .chat-messages > .message > .date,
  .chat-room-page > section > .chat-messages > .message > .edit-date,
  .chat-room-page > section > .chat-messages > .message > .message-toolbar {
    float: none;
  }
  .chat-room-page > section > .chat-messages > .message > .date,
  .chat-room-page > section > .chat-messages > .message > .edit-date {
    float: left;
    text-align: left;
    margin: 0;
    margin-right: 5px;
  }
  .chat-room-page > section > .chat-messages > .message.own-message {
    padding-left: 10px;
  }
  .chat-room-page > section > .chat-messages > .message.own-message > .text,
  .chat-room-page > section > .chat-messages > .message > .text {
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
}
.chat-room-page > section > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
.chat-room-page.read-only {
  padding-bottom: 50px;
}
.chat-room-page.read-only > footer {
  height: 50px;
  line-height: 30px;
}
/*# sourceMappingURL=chat-room.css.map */