@{
    Title = "Страница не найдена";
}

<div class="error-page">
    <h3>Ошибка при обработке запроса.</h3>
    <div>К сожалению, при обработке запроса возникла ошибка. Мы уже в курсе проблемы, и скоро она будет устранена. Пожалуйста, повторите позже.</div>
</div>