@{
    Layout = "~/Views/Shared/_Nav.cshtml";
}

@section SectionTitle { Новое обсуждение }

@section SectionMenu
{
    <a href="javascript:void(0);" ng-click="switchPreviewMode()" ng-class="{ 'switch-preview': 1, 'on': !showPreview, 'off': showPreview }"><i class="fa fa-square-o"></i><i class="fa fa-check-square-o"></i>Предпросмотр</a>
    <a href="javascript:void(0);" ng-click="post()" class="post-topic"><i class="fa fa-floppy-o"></i>Отправить</a>
}
