@using MirGames.Domain.Forum.ViewModels
@{
    Title = "Новое обсуждение / Форум";
    PageScriptController = "MirGames.Forum.NewTopicPage";
    AddPageCssClass("new-forum-topic-page");
    var forum = (ForumViewModel)this.ViewBag.Forum;
}

<div class="page-header">
    <div class="header">
        <h4><a href="@Url.Action(MVC.Forum.Forum.Index())">Форумы</a> / <a href="@Url.Action(MVC.Forum.Forum.Topics(forum.Alias))">@forum.Title</a></h4>
        <h3>Новая тема</h3>
    </div>
    <div class="buttons">
    </div>
</div>

<form class="new-topic-form" name="newTopicForm">
    <div class="form-field">
        <label>Заголовок</label>
        <input type="text" class="topic-title" ng-model="title" ng-focused="isTitleFocused" ng-maxlength="128" required />
        <div class="form-field-description">Заголовок должен быть коротким, но осмысленным и соответствующим содержимому поста.</div>
    </div>
    <div class="form-field">
        <label>Метки</label>
        <input type="text" class="topic-tags" ng-model="tags" required ng-maxlength="128" />
        <div class="form-field-description">
            Пожалуйста, выберите от 1 до 5 меток. Пост будет доступен только по выбранным меткам. Метки разделяются запятыми.
        </div>
    </div>
    <div class="form-field">
        <label>Текст</label>
        <div class="form-field-description">
            Текст форматируется с использованием <a href="@Url.Action(MVC.Pages.Markdown())" target="_blank" tabindex="-1">markdown</a> разметки.<br />
            Картинки могут быть вставлены непосредственно из буфера обмена.<br />
            Для прикрепления файлов, можно использовать drag&amp;drop или специальную кнопку в панели инструментов.<br />
            Для вставки видео может быть использован тот же синтаксис, что и для вставки картинки.
        </div>
        <texteditor text="text" required="true" show-preview="showPreview" post="post()" attachments="attachments" entity-type="forumPost" />
    </div>
    <div class="buttons">
        <a href="javascript:void(0);" ng-click="post()" class="button" ng-class="{ 'button-disabled': newTopicForm.$invalid }">Отправить</a>
    </div>
</form>
