@using MirGames.Models
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel>

@{
    ViewBag.Title = (ViewBag.Tag ?? "Все обсуждения") + " / Форум";
    PageScriptController = "MirGames.Forum.TopicsPage";
    AddPageCssClass("forum-topics-page");
}

@section Nav { @Html.Partial("_ForumTopicsMenu") }

@if (!Model.Any())
{
    <div class="topics-not-found">
        Обсуждения не найдены
    </div>
}
else
{
    <article class="message message-header">
        <div class="message-content">
            <div class="envelope-icon">
            </div>
            <div class="topic-title-block">
                Темы
            </div>
            <div class="replies-count">
                Ответов
            </div>
            <div class="last-post-info">
                Последнее сообщение
            </div>
        </div>
    </article>
    @Html.Partial("_ForumTopicsList")
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
}