@using MirGames.Models
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel>

@{
    ViewBag.Title = (ViewBag.Tag ?? "Все обсуждения") + " / Форум";
    PageScriptController = "MirGames.Forum.TopicsPage";
    AddPageCssClass("forum-topics-page");
}

@Html.Partial("_ForumsHeader")
    
@if (!Model.Any())
{
    <div class="topics-not-found">
        Обсуждения не найдены
    </div>
}
else
{
    <article class="message message-header">
        <div class="message-content">
            <div class="topic-title-block">
                Темы
            </div>
            <div class="replies-count">&nbsp;
            </div>
            <div class="last-post-info">
                Последнее сообщение
            </div>
        </div>
    </article>
    foreach (var topic in Model)
    {
        @Html.Partial("_ForumTopicListItem", topic)
    }
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
}