@using Recaptcha
@model MirGames.Domain.Users.Commands.SignUpCommand
@{
    Layout = "~/Views/Shared/_Dialog.cshtml";
}

@section DialogTitle
{
    Регистрация
}

@section DialogNotifications
{
    <div class="error dialog-notification" ng-show="wrongCaptcha">Неверная каптча</div>
    <div class="error dialog-notification" ng-show="alreadyRegistered">Пользователь с указанным логином или адресом уже зарегистрирован</div>
    <div class="error dialog-notification" ng-show="internalError">Возникла ошибка при регистрации</div>
}

@section DialogContent
{
    <form novalidate="novalidate" ng-submit="processSignUp('@Url.Action("ProcessSignUp", "Account")')" name="signUpForm">
        <div class="form-field">
            <label for="emailOrLogin">Логин</label>
            <input type="text" ng-model="login" maxlength="30" required ng-focused="isFocused" />
        </div>
        <div class="form-field">
            <label for="emailOrLogin">E-mail</label>
            <input type="email" ng-model="email" maxlength="50" required />
        </div>
        <div class="form-field">
            <label for="emailOrLogin">Пароль</label>
            <input type="password" ng-model="password" required />
        </div>
        <div vc-recaptcha ng-model="captcha" key="6LeWsN8SAAAAAPc-gobarO7pc-vy7sEKQjWQNbkN" theme="clean"></div>
    </form>
}

@section DialogButtons
{
    <a href="javascript:void(0)" ng-class="{ 'button-disabled': signUpForm.$invalid }" ng-click="processSignUp('@Url.Action("ProcessSignUp", "Account")')">Зарегистрироваться</a>
    <a href="javascript:void(0)" class="cancel" ng-click="close()">Отмена</a>
}
