@{
    ViewBag.Title = "Чат";
    PageScriptController = "MirGames.Chat.ChatRoomPage";
    AddPageCssClass("chat-room-page");

    if (!User.IsInRole("ChatMember"))
    {
        AddPageCssClass("read-only");
    }
}

<div class="socket-notification page-notification" ng-controller="MirGames.SocketNotificationController" ng-cloak>
    <div ng-show="state == 'connecting'" class="socket-connecting notification info">Подключение к серверу...</div>
    <div ng-show="state == 'reconnecting'" class="socket-reconnecting notification info">Подключение к серверу...</div>
    <div ng-show="state == 'disconnected'" class="socket-disconnected notification error">Соединение разорвано</div>
    <div ng-show="state == 'connection-slow'" class="connection-slow notification warning">Соединение неустойчиво</div>
</div>
<header>
    <h3>Чат</h3>
</header>
<div class="toolbar" ng-cloak>
    <a href="javascript:void(0);" ng-click="loadHistory()" class="button" ng-class="{ 'button-disabled': !historyAvailable }">Загрузить предыдущие</a>
</div>
<div class="chat-messages">
    <article message-id="{{message.id}}" ng-class="{ 'message': 1, 'message-chain': message.inChain, 'own-message': message.ownMessage, 'first-unread': message.firstUnreadMessage, 'editing': message.isEditing, 'system-message': message.isSystem }" ng-repeat="message in messages" ng-cloak>
        <header ng-show="message.showAuthor">
            <a author-link="message.authorId" class="avatar-link">
                <img ng-src="{{message.avatarUrl}}" class="avatar avatar-tiny" />
            </a>
            <a class="user-login" href="javascript:void(0)" ng-click="quoteLogin(message.login)">{{message.login}}</a>
        </header>
        <div ng-class="{ 'date': !message.editDate, 'edit-date': message.editDate  }" ng-show="message.showDate"><i class="fa fa-pencil"></i>{{(message.editDate || message.date) | date:message.dateFormat}}</div>
        <div class="message-toolbar">
            <a href="javascript:void(0)" ng-click="$parent.editMessage(message)" ng-show="message.canBeEdited"><i class="fa fa-pencil-square-o"></i></a>
        </div>
        <div class="text" ng-bind-html="message.text | unsafe"></div>
    </article>
</div>

@section SectionFooter
{
    @if (User.IsInRole("ChatMember"))
    {
        <footer>
            <div class="answer-form">
                <form class="new-answer-form" ng-submit="reply.post()" novalidate name="postAnswerForm">
                    <tinyeditor text="reply.message" post="reply.post()" attachments="reply.attachments" focus="reply.focus" caret="reply.caret" entity-type="chatMessage" use-enter-to-post="{{useEnterToPost}}"></tinyeditor>
                    <div class="buttons">
                        <a href="javascript:void(0);" ng-click="reply.post()" class="button" ng-class="{ 'button-disabled': postAnswerForm.$invalid }" ng-cloak>{{editMode ? 'Сохранить' : 'Отправить'}}</a>
                        <a href="javascript:void(0);" ng-click="cancelEdit()" class="button" ng-show="editMode" ng-cloak>Отмена</a>
                        <a href="javascript:void(0);" ng-click="changeSendKey()" class="button sendKey" ng-cloak title="Сменить быструю клавишу для отправки сообщения"><i class="fa fa-keyboard-o"></i>&nbsp;{{useEnterToPost ? 'Enter' : 'Ctrl+Enter'}}</a>
                        <a href="javascript:void(0);" ng-click="playSound = !playSound" class="button mute" ng-cloak title="{{playSound ? 'Выключить звук' : 'Включить звук'}}"><i class="fa fa-volume-up" ng-show="playSound"></i><i class="fa fa-volume-off" ng-show="!playSound"></i></a>
                    </div>
                </form>
            </div>
        </footer>
    } else
    {
        <footer>
            Вам необходимо войти в систему, прежде чем вы сможете отправлять сообщения.
        </footer>
    }
}