@using MirGames.Domain.Wip.ViewModels
@model IEnumerable<ProjectWorkItemViewModel>

@section Nav
{
}

<h3>Work Items</h3>
@foreach (var workItem in Model)
{
    <div>
        @workItem.CreatedDate
        @workItem.Title
        @workItem.Description
    </div>
}