<div class="dialog-body" ng-style="{ 'width': width, 'max-width': width, height: height, 'max-height': height }">
    <h1>@RenderSection("DialogTitle", required: true)</h1>
    @RenderSection("DialogNotifications")
    <div class="dialog-content">
        <div>
            @RenderSection("DialogContent", required: true)
        </div>
    </div>
    <div class="buttons dialog-buttons">
        @RenderSection("DialogButtons", required: true)
    </div>
</div>
