@if (!User.Identity.IsAuthenticated)
{
    <a href="javascript:void(0)" class="account-signin" dialog="@Url.ActionCached(MVC.Account.LoginDialog())" dialog-controller="Account.LoginFormController">Войти</a>
    <a href="javascript:void(0)" class="account-signup" dialog="@Url.ActionCached(MVC.Account.SignUpDialog())" dialog-controller="Account.SignUpFormController">Зарегистрироваться</a>
}