@{
    Title = "Страница не найдена";
}

<div class="error-page">
    <h3>К сожалению, эта страница недоступна.</h3>
    <div>Возможно, вы воспользовались недействительной ссылкой или страница была удалена.</div>
</div>