.topic-page > nav .topic-info .scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 3px;
  display: none;
}
.topic-page > nav a.add-to-favorite .fa {
  color: #ffd800;
  text-shadow: 0px 0px 1px #000;
}
.topic-page > nav a.delete-topic .fa {
  color: #f00;
  text-shadow: 0px 0px 1px #000;
}
.topic-page > section > article {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 0;
}
.topic-page > section > article > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.topic-page > section > .topic-bar {
  background: #f5f7f8;
  border: 0;
  border-top: 1px solid #ebeff2;
  border-bottom: 5px solid #c3cfd7;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.topic-page > section > .topic-bar > div,
.topic-page > section > .topic-bar > a,
.topic-page > section > .topic-bar > span,
.topic-page > section > .topic-bar > ul {
  margin-right: 10px;
}
.topic-page > section > .topic-bar .avatar-link {
  float: none;
}
.topic-page > section > .topic-bar > .author {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.topic-page > section > .topic-bar > .message-bar > .edit-topic,
.topic-page > section > .topic-bar > .message-bar > .delete-topic {
  font-size: 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  background: #d7dfe5;
  color: #000000;
  padding: 5px;
}
.topic-page > section > .topic-bar > .message-bar > .edit-topic:hover,
.topic-page > section > .topic-bar > .message-bar > .delete-topic:hover {
  background: #d04796;
  color: #ffffff;
}
.topic-page > section > .topic-bar .creation-date {
  font-size: 12px;
  color: #8c8c0c;
}
.topic-page > section > .topic-bar > ul.tags {
  overflow: hidden;
  list-style-type: none;
  line-height: normal;
  font-size: 11px;
}
.topic-page > section > .topic-bar > ul.tags > li {
  float: left;
  margin-right: 2px;
  display: block;
}
.topic-page > section > .topic-bar > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: none;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.topic-page > section > .topic-bar > ul.tags > li a:active,
.topic-page > section > .topic-bar > ul.tags > li a:hover,
.topic-page > section > .topic-bar > ul.tags > li a:focus {
  color: #ffffff;
}
.topic-page > section > .topic-bar > ul.tags > li a:hover,
.topic-page > section > .topic-bar > ul.tags > li a:active,
.topic-page > section > .topic-bar > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.topic-page > section > .topic-bar > ul.tags > li:last-child {
  margin-right: 0;
}
.topic-page > section .comments-list {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.topic-page > section .comments-list > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.topic-page > section .comments-list > .comment {
  margin-bottom: 20px;
}
.topic-page > section .comments-list > .comment:last-of-type {
  margin-bottom: 0;
}
.topic-page > section .comments-list > .comment > header {
  overflow: hidden;
}
.topic-page > section .comments-list > .comment > header .avatar-link {
  float: left;
}
.topic-page > section .comments-list > .comment > header .avatar-link img {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.topic-page > section .comments-list > .comment > header .user-login {
  margin-right: 20px;
  margin-left: 10px;
  font-weight: bold;
  float: left;
  margin-top: 8px;
}
.topic-page > section .comments-list > .comment > header .comment-date {
  font-size: 12px;
  color: #8c8c0c;
  float: left;
  margin-top: 8px;
}
.topic-page > section .comments-list > .comment > header .message-bar {
  font-size: 15px;
  float: left;
  margin-top: 7px;
}
.topic-page > section .comments-list > .comment > header .message-bar > .edited {
  margin-left: 10px;
  font-size: 11px;
  color: #999;
  margin-top: 2px;
  float: left;
}
.topic-page > section .comments-list > .comment > header .message-bar a {
  margin-left: 20px;
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  opacity: 0.5;
}
.topic-page > section .comments-list > .comment > header .message-bar a:hover {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.topic-page > section .comments-list > .comment > header .message-bar a.delete-comment {
  color: #900;
  float: right;
}
.topic-page > section .comments-list > .comment > .text {
  margin-left: 42px;
}
.topic-page > section .comment-form {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.topic-page > section .comment-form > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.topic-page > section .comment-form > form > .buttons {
  margin-top: 10px;
}
.topic-page > section .comment-form .text-editor-field div.mdd_editor_wrap textarea {
  height: 100px;
}
/*# sourceMappingURL=topic.css.map */