body {} @import "../settings.less";
@import "mixins.less";

.wip-workitems-page {
    & > section {
        .project-info();

        & > section {
            .indent();

            h3 {
                .page-title();
            }

            h4 {
                .page-subtitle();
            }

            .tracker-items {
                .page-block();
                margin-bottom: @indent;
                padding-top: @indent/2;
                padding-bottom: @indent/2;

                .tracker-item {
                    padding-top: @indent/2;
                    padding-bottom: @indent/2;
                    border-bottom: 1px solid @border-color;
                    .make-row();

                    &.p0 {
                        color: #64803d;
                    }

                    &.p1 {
                        color: #96a017;
                    }

                    &.p2 {
                        color: #d0b401;
                    }

                    &.p3 {
                        color: #e48c00;
                    }

                    &.p4 {
                        color: #f00;
                    }

                    &.Open > .item-status {
                        & > span.open-status {
                            .visibility-transition-end();
                        }
                    }

                    &.Active > .item-status {
                        & > span.active-status {
                            .visibility-transition-end();
                        }
                    }


                    &.Closed > .item-status {
                        & > span.closed-status {
                            .visibility-transition-end();
                        }
                    }

                    & > .item-type {
                        .make-xs-column(1);
                        width: 25px;

                        .fa {
                            .font-size(1.5);
                        }

                        .work-item-type();
                    }

                    & > .item-status {
                        .make-xs-column(1);
                        height: 25px;
                        width: 25px;
                        position: relative;

                        & > span {
                            position: absolute;
                            left: 3px;
                            top: 0;
                            line-height: 25px;
                            .visibility-transition-start();
                        }

                        &.change-status:hover {
                            cursor: pointer;
                            color: @link-color-hover;
                        }

                        .fa {
                            .font-size(1.5);
                        }
                    }

                    & > .author {
                        padding-left: @indent/4;
                        width: auto;
                        overflow: hidden;

                        img {
                            margin-right: @indent/5;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    & > .item-state {
                        .make-xs-column(1);
                    }

                    & > .title {
                        .header-font();
                        .font-size(1.3);
                        .make-xs-column(6);
                        .flex-grow(1);

                        & > .description {
                            .font-size(1.1);
                            color: mix(@background-color, @font-color, 60%);
                        }
                    }

                    & > .internal-id {
                        .make-xs-column(1);
                        width: auto;
                        padding-left: @indent/2;
                        text-align: right;
                        color: mix(@background-color, @font-color, 60%);
                    }

                    & > .tags {
                        .make-xs-column(2);
                        width: auto;
                        .tags();
                    }
                }
            }

            .new-item-form {
                .page-block();
            }
        }
    }
}