<div class="tracker-item-blocks">
    <div class="open-items items">
        <h1>Открытые</h1>
        <div ng-repeat="item in openedItems" ng-cloak>
            <div ui-draggable="{{item.canBeEdited}}" drag="item" on-drop-success="dropSuccessHandler($event, $index, openedItems)" ng-class="['tracker-item', item.type, item.state, 'p' + item.priority, $last ? 'last' : '']" static-include="/content/projects/item-block-template.html"></div>
            <div ui-on-drop="onDrop($event, $data, openedItems, item)" class="drop-zone"><span>&nbsp;</span></div>
        </div>
        <div ng-show="!openedItems.length && dataLoaded" ng-cloak>
            Ничего не удалось найти
        </div>
    </div>
    <div class="active-items items">
        <h1>Активные</h1>
        <div ng-repeat="item in activeItems" ng-cloak>
            <div ui-draggable="{{item.canBeEdited}}" drag="item" on-drop-success="dropSuccessHandler($event, $index, activeItems)" ng-class="['tracker-item', item.type, item.state, 'p' + item.priority, $last ? 'last' : '']" static-include="/content/projects/item-block-template.html"></div>
            <div ui-on-drop="onDrop($event, $data, activeItems, item)" class="drop-zone"><span>&nbsp;</span></div>
        </div>
        <div ng-show="!activeItems.length && dataLoaded" ng-cloak>
            Ничего не удалось найти
        </div>
    </div>
    <div class="closed-items items">
        <h1>Закрытые</h1>
        <div ng-repeat="item in closedItems" ng-cloak>
            <div ui-draggable="{{item.canBeEdited}}" drag="item" on-drop-success="dropSuccessHandler($event, $index, closedItems)" ng-class="['tracker-item', item.type, item.state, 'p' + item.priority, $last ? 'last' : '']" static-include="/content/projects/item-block-template.html"></div>
            <div ui-on-drop="onDrop($event, $data, closedItems, item)" class="drop-zone"><span>&nbsp;</span></div>
        </div>
        <div ng-show="!closedItems.length && dataLoaded" ng-cloak>
            Ничего не удалось найти
        </div>
    </div>
    <div class="data-loading" ng-hide="dataLoaded"></div>
</div>