@model IEnumerable<MirGames.Domain.Tools.ViewModels.EventLogViewModel>

@{
    ViewBag.Title = "Журнал событий";
    AddPageCssClass("event-log-page");
    PageScriptController = "MirGames.Tools.EventLogPage";
}

@section Nav { @Html.Partial("_ToolsMenu")  }

<h3>Журнал событий</h3>

<form class="event-log-form" name="eventLogForm" ng-submit="filter()">
    <div class="form-field">
        <label>Пользователь</label>
        <input type="text" class="username-filter" ng-model="username" ng-maxlength="128" />
    </div>
    <div class="form-field">
        <label>Источник</label>
        <input type="text" class="source-filter" ng-model="source" ng-maxlength="128" />
    </div>
    <div class="form-field">
        <label>Подстрока сообщения</label>
        <input type="text" class="message-filter" ng-model="message" ng-maxlength="128" />
    </div>
    <div class="form-field">
        <label>Показать сообщения начиная с</label>
        <input type="text" class="from-filter" ng-model="from" date-input="DD.MM.YY" ng-maxlength="128" />
    </div>
    <div class="form-field">
        <label>Показать сообщения по</label>
        <input type="text" class="to-filter" ng-model="to" date-input="DD.MM.YY" ng-maxlength="128" />
    </div>
    <div class="form-field">
        <label>Тип события</label>
        <select ng-options="c.value as c.key for c in logTypes" ng-model="logType"></select>
    </div>
    <div class="buttons">
        <a href="javascript:void(0);" ng-click="filter()" class="button" ng-class="{ 'button-disabled': eventLogForm.$invalid }">Фильтровать</a>
    </div>
</form>

<div ng-cloak ng-repeat="item in items" ng-class="{ 'event-log-item': 1, 'event-log-error': item.EventLogType == 0, 'event-log-warning': item.EventLogType == 1, 'event-log-verbose': item.EventLogType == 3 }">
    <span class="event-log-id">#{{item.Id}}</span>
    <span class="event-log-type">{{logTypes[item.EventLogType].key}}</span>
    <span class="event-log-user">{{item.Login}}</span>
    <span class="event-log-date">{{item.Date | date:'dd.MM.yy HH:mm'}}</span>
    <span class="event-log-source" title="{{item.Source}}">{{item.Source}}</span>
    <span class="event-log-message">{{item.Message}}</span>
    <div class="event-log-details">{{item.Details}}</div>
</div>