@import "../settings.less";

.notifications-page {
    & > section {
        h2 {
            padding: @indent;
            .page-title();
        }
    }

    .notification-item {
        & > article {
            padding: 0 @indent @indent @indent;
            overflow: hidden;
            margin-bottom: @indent;
            margin-top: @indent;
            border-bottom: 1px solid mix(@background-color, @font-color, 96%);

            & > .author-avatar {
                img {
                    .avatar-medium();
                }

                font-family: Tahoma;
                float: left;
            }

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                border-bottom: 0;
                margin-bottom: 0;
            }

            .text img {
                max-height: 200px;
            }

            & > .micro-message-content {
                margin-left: @avatar-medium + @indent/2;

                & > .micro-message-author {
                    margin-bottom: @indent/4;

                    .user-login {
                        font-weight: bold;
                    }
                }
            }

            & > footer {
                .font-size(1.2);
                overflow: hidden;
                margin-top: 0;
                margin-left: @avatar-medium + @indent/2;

                .creation-date {
                    display: inline-block;
                    font-family: Tahoma;
                    line-height: 26px;
                    color: mix(@background-color, @font-color, 60%);
                    .font-size(1.1);
                }
            }
        }
    }
}
