body {} @import "../settings.less";

.user-info() {
    & > .main-info {
        overflow: hidden;
        padding: @indent;
        display: table;
        table-layout: fixed;
        
        & > .user-avatar {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            width: @avatar-big;
            .box-sizing(border-box);

            & > img.avatar {
                .avatar-big();
            }
        }

        & > .info {
            display: table-cell;
            vertical-align: middle;
            width: 300px;
            min-width: 300px;
            
            & > h4 {
                .header-font();
                .font-size(2);

                & .user-name {
                    .font-size(1.5);
                    color: mix(@background-color, @font-color, 60%);
                    display: block;
                }
            }

            & .user-about {
                .header-font();
                .font-size(1.3);
            }
        }

        & > .details {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
            text-align: right;
            color: mix(@background-color, @font-color, 80%);
        }
    }
}
        