.account-profile-page > section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.account-profile-page > section > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.account-profile-page > section > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 0;
}
.account-profile-page > section > .user-info {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.account-profile-page > section > .user-info .user-rating {
  display: inline;
  margin-left: 10px;
  font-size: 15px;
  background: #485b69;
  padding: 3px;
  color: #ffffff;
}
.account-profile-page > section > .user-info > img.avatar {
  float: left;
  margin-right: 10px;
}
.account-profile-page > section > .user-info > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.account-profile-page > section form {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.account-profile-page > section form .form-field input[type=text] {
  max-width: 600px;
}
.account-profile-page > section .connected-accounts-form .oauth-provider {
  overflow: hidden;
  max-width: 600px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  float: left;
  margin-top: 4px;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo.github {
  background: url('../images/providers/github.png') no-repeat center center;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo.microsoft {
  background: url('../images/providers/microsoft.png') no-repeat center center;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo.bitbucket {
  background: url('../images/providers/bitbucket.png') no-repeat center center;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo.twitter {
  background: url('../images/providers/twitter.png') no-repeat center center;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo.facebook {
  background: url('../images/providers/facebook.png') no-repeat center center;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .provider-logo.google {
  background: url('../images/providers/google.png') no-repeat center center;
}
.account-profile-page > section .connected-accounts-form .oauth-provider h3 {
  font-size: 15px;
  font-family: "Droid Sans", Tahoma, sans-serif;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .button {
  float: right;
  min-width: 90px;
  text-decoration: none;
  line-height: 40px;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .button.unlink-button {
  opacity: 0.3;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .button.unlink-button:hover {
  opacity: 1;
}
.account-profile-page > section .connected-accounts-form .oauth-provider .button i {
  margin-right: 5px;
  font-size: 17px;
  line-height: 40px;
  vertical-align: -1px;
}
.account-profile-page > section .profile-settings-form .avatar-upload {
  position: relative;
}
.account-profile-page > section .profile-settings-form .avatar-upload > .avatar {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.account-profile-page > section .profile-settings-form .avatar-upload > .upload-file {
  position: absolute;
  left: 110px;
  margin-top: -18px;
  top: 50%;
  padding: 5px;
}
.account-profile-page > section .profile-settings-form .avatar-upload > .upload-file.drag-over {
  outline: 1px dashed #999;
  opacity: 0.5;
}
/*# sourceMappingURL=profile-page.css.map */