.user-topics-page > section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.user-topics-page > section > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.user-topics-page > section > .user-info {
  padding: 20px 0;
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.user-topics-page > section > .user-info:first-of-type {
  padding-top: 0;
}
.user-topics-page > section > .user-info:last-of-type {
  padding-bottom: 0;
}
.user-topics-page > section > .user-info .user-rating {
  display: inline;
  margin-left: 10px;
  font-size: 15px;
  background: #485b69;
  padding: 3px;
  color: #ffffff;
}
.user-topics-page > section > .user-info > img.avatar {
  float: left;
  margin-right: 10px;
}
.user-topics-page > section > .user-info > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.user-topics-page > section > .topics-list > .message {
  padding: 20px 0;
  padding-top: 0;
  padding-bottom: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.user-topics-page > section > .topics-list > .message:first-of-type {
  padding-top: 0;
}
.user-topics-page > section > .topics-list > .message:last-of-type {
  padding-bottom: 0;
}
.user-topics-page > section > .topics-list > .message:first-of-type {
  margin-top: 0;
}
.user-topics-page > section > .topics-list > .message:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}
.user-topics-page > section > .topics-list > .message > .message-content {
  overflow: hidden;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header {
  font-size: 11px;
  color: #999999;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .tags {
  margin-bottom: 5px;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .tags a {
  color: #999999;
  margin-right: 10px;
  text-decoration: none;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .tags a:active,
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .tags a:hover,
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .tags a:focus {
  color: #d04796;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .tags a:hover {
  text-decoration: underline;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block {
  overflow: hidden;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.topic-title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 20px;
  color: #2f7db5;
  text-decoration: none;
  margin-bottom: 5px;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.topic-title:active,
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.topic-title:hover,
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.topic-title:focus {
  color: #b52f7d;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.topic-title:hover {
  text-decoration: underline;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.avatar-link {
  float: right;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .title-block a.avatar-link img {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info {
  margin-top: 5px;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > span {
  font-size: 11px;
  color: #8c8c0c;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > .user-login {
  display: inline-block;
  color: #24618d;
  text-decoration: none;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > .user-login span {
  font-size: 11px;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > .user-login:active,
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > .user-login:hover,
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > .user-login:focus {
  color: #d04796;
}
.user-topics-page > section > .topics-list > .message > .message-content > .message-header > .author-info > .user-login:hover span {
  text-decoration: underline;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer {
  font-size: 12px;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer .read-more {
  text-decoration: none;
  margin-right: 20px;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer .read-more:hover {
  text-decoration: underline;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer .answers-link {
  line-height: 24px;
  text-decoration: none;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer .answers-link:hover {
  text-decoration: underline;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer .answers-link > .fa {
  margin-right: 5px;
  font-size: 13px;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer > .unread-comments {
  margin-left: 5px;
  background: #8d2461;
  font-size: 11px;
  text-decoration: none;
  color: #ffffff;
  padding: 2px;
  margin-top: 2px;
}
.user-topics-page > section > .topics-list > .message > .message-content > footer > .unread-comments:hover {
  color: #ffffff;
  background: #d04796;
}
.user-topics-page > section > .topics-list > .message > .message-content p {
  line-height: 140%;
  margin-bottom: 10px;
}
.user-topics-page > section > .topics-list > .message > .message-content > div {
  margin: 5px 0px 10px 0px;
}
.user-topics-page > section > .topics-list > .message.unread-message > .message-content > .message-header > .title-block a.topic-title {
  color: #d04796;
}
.user-topics-page > section > .topics-list > .message > .avatar {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #dcdcdc;
}
/*# sourceMappingURL=user-topics.css.map */