body {} @import "../settings.less";
@import "../../Areas/Topics/Content/mixins.less";
@import "mixins.less";

.user-page {
    & > section {
        & > .page-header {
            margin-bottom: 0;
        }

        & > .user-info {
            .user-info();
        }

        & > .toolbar {
            margin-bottom: @indent;
        }

        & > .user-blog {
            padding: @indent;
            padding-top: 0;

            & > h4 {
                .page-subtitle();
            }

            & > .write-new-post {
                .form-input();
                cursor: text;
                color: mix(@background-color, @main-color, 60%);
                margin-top: @indent/2;
                margin-bottom: @indent;
            }

            & > .blog-posts {
                .topics-list-item();

                .blog-link {
                    display: none;
                }
            }
        }
    }
}