body {} @import "../settings.less";
@import "../../Areas/Topics/Content/mixins.less";
@import "mixins.less";

.user-page {
    & > section {
        & > .page-header {
            margin-bottom: 0;
        }

        & > .user-info {
            padding: 0 @indent;
            .user-info();
        }

        & > .user-blog {
            padding: @indent;
            padding-top: 0;

            & > h4 {
                .page-subtitle();
            }

            & > .buttons {
                margin-bottom: @indent/2;
            }

            & > .blog-posts {
                .topics-list-item();

                .blog-link {
                    display: none;
                }
            }
        }
    }
}