@using MirGames.Domain.Users.ViewModels
@using MirGames.Models
@model IEnumerable<MirGames.Domain.Notifications.ViewModels.NotificationDetailsViewModel>

@{
    ViewBag.Title = "Лента";
    AddPageCssClass("notifications-page");
    PageScriptController = "MirGames.Users.FeedPage";
    var user = (UserViewModel)ViewBag.UserModel;
}

@Html.Partial("_ProfileMenu", user)

<div class="page-header">
    <div class="header">
        <h3>Лента</h3>
    </div>
    <div class="buttons">
        <a href="javascript:void(0)" ng-click="markAllAsRead()">Отметить всё как прочитанное</a>
    </div>
</div>
<div class="notifications">
    @foreach (var notification in Model)
    {
        <div @Html.Css("notification-item").Add("read", notification.IsRead)>
            @Html.Partial("FeedItems/" + notification.NotificationType, notification)
        </div>
    }
    @if (!Model.Any())
    {
        <div class="not-found">
            Пока у вас нет никаких нотификаций.
        </div>
    }
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)