@using MirGames.Domain.Users.ViewModels
@model IEnumerable<MirGames.Domain.Notifications.ViewModels.NotificationDetailsViewModel>

@{
    ViewBag.Title = "Лента";
    AddPageCssClass("notifications-page");
    var user = (UserViewModel)ViewBag.UserModel;
}

@Html.Partial("_ProfileMenu", user)

<h2>Лента</h2>
<div class="notifications">
    @foreach (var notification in Model)
    {
        <div @Html.Css("notification-item").Add("read", notification.IsRead)>
            @Html.Partial("Feed/" + notification.NotificationType, notification)
        </div>
    }
</div>