@using MirGames.Models
@model IEnumerable<MirGames.Domain.Users.ViewModels.UserListItemViewModel>

@{
    ViewBag.Title = ViewBag.SectionTitle ?? "Пользователи";
    AddPageCssClass("users-page");
}

@section Nav { @Html.Partial("_UsersMenu") }

@if (!Model.Any())
{
    <div class="users-not-found">
        Пользователи не найдены
    </div>
}

<div class="users-list">
@foreach (var user in Model)
{
    @Html.Partial("_UserListItem", user)
}
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)