@model MirGames.Controllers.UsersController.ProfileViewModel
@{
    ViewBag.Title = Model.User.Login;
    PageScriptController = "MirGames.Users.ProfilePage";
    AddPageCssClass("user-page");
}

@Html.Partial("_ProfileMenu", Model.User)
<div class="user-blog">
    <h4>Блог</h4>
    @if (Model.Blog.CanAddTopic)
    {
        <div class="write-new-post" dialog="@Url.ActionCached(MVC.Topics.Topics.AddTopicDialog())" resolve="{ 'blog-id': @Model.Blog.BlogId }"
            dialog-controller="MirGames.Topics.AddNewTopicDialogController">
            Новый пост
        </div>
    }
    @if (Model.Topics != null && Model.Topics.Any())
    {
        <div class="blog-posts">
            @foreach (var topic in Model.Topics)
            {
                @Html.Partial(MVC.Topics.Topics.Views._TopicListItem, topic)
            }
        </div>
    }
    else
    {
        <div class="not-found">
            В блоге пока нет ни одного поста.
        </div>
    }
</div>
