@using MirGames.Models
@model MirGames.Controllers.UsersController.TopicsPageViewModel
@{
    ViewBag.Title = Model.User.Login;
    AddPageCssClass("user-topics-page");
}

@Html.Partial("_ProfileMenu", Model.User)

@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
<div class="topics-list">
    @foreach(var topic in Model.Topics)
    {
        @Html.Partial(MVC.Topics.Topics.Views._TopicListItem, topic)
    }
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)