.body {} @import "../settings.less";
         
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -@indent/2;
    z-index: 1000;
    opacity: 0;
    float: left;
    padding: 0;
    visibility: hidden;
    margin: 2px 0 0;
    .font-size(1.2);
    list-style: none;
    background-color: mix(@background-color, @header-background, 97%);
    border: 1px solid mix(@background-color, @header-background, 70%);
    background-clip: padding-box;

    -moz-transition: visibility 0s linear 0.1s,opacity 0.1s ease-in;
    -o-transition: visibility 0s linear 0.1s,opacity 0.1s ease-in;
    -webkit-transition: visibility 0s linear 0.1s,opacity 0.1s ease-in;
    transition: visibility 0s linear 0.1s,opacity 0.1s ease-in;

    &.pull-right {
        right: 0;
        left: auto;
    }

    & .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: mix(@background-color, @header-background, 90%);
    }

    & > li > a {
        display: block;
        padding: @indent/4 @indent/2;
        clear: both;
        white-space: nowrap;

        &:hover, &:focus {
            cursor: pointer;
            text-decoration: none;
            background-color: mix(@background-color, @header-background, 93%);
        }
    }

    & > .active > a, & > .active > a:hover, & > .active > a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #428bca;
        outline: 0;
    }

    & > .disabled > a, & > .disabled > a:hover, & > .disabled > a:focus {
        color: #999;

        &:hover, &:focus {
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }
    }
}

.open > .dropdown-menu {
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.open > a {
    outline: 0;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #999;
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}