@model MirGames.Domain.Topics.ViewModels.TopicViewModel

@if (Model.Blog.BlogId != null)
{
    <a href="@EntityLinkProvider.GetLink(Model.Blog.EntityId, Model.Blog.EntityType)" class="back-to-topics"><i class="fa fa-arrow-left"></i>@Model.Blog.Description</a>
}

<div class="topic-info subsection">
</div>
@*        @if (User.IsInRole("User"))
{
    <a href="javascript:void(0);" class="add-to-favorite"><i class="fa fa-star"></i>В избранное</a>
}*@