@using MirGames.Models
@model IEnumerable<MirGames.Domain.Topics.ViewModels.TopicsListItem>

@{
    ViewBag.Title = ViewBag.tag != null ? (ViewBag.tag + " / Блог") :  "Блог";
    AddPageCssClass("topics-page");
    var topics = this.Model.ToList();
}

@section Nav { @Html.Partial("_TopicsMenu") }
    
<div class="topics-list">
    @foreach (var topic in topics)
    {
        @Html.Partial("_TopicListItem", topic)
    }
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)