@{
    Layout = "~/Views/Shared/_Dialog.cshtml";
}

@section DialogNotifications
{
}

@section DialogContent
{
    <div class="gallery-item-dialog">
        <img ng-src="{{attachmentUrl}}?size=xxl" ng-click="next()" />
    </div>
}