@using MirGames.Domain.Security
@if (User.Can("Create", "WipProject"))
{
    <a href="@Url.Action("New", "Projects")" class="add-wip-project"><i class="fa fa-plus"></i>Новый проект</a>
}

<a href="@Url.Action(MVC.Projects.Projects.Index())" class="projects">Проекты</a>


@*@foreach (string tag in ViewBag.Tags)
{
    @Html.ActionLink(tag, "Index", "Projects", new { tag }, new { @class = string.Equals(tag, ViewBag.Tag, StringComparison.InvariantCultureIgnoreCase) ? "selected" : string.Empty })
}*@