@using MirGames.Models
@model IEnumerable<MirGames.Domain.Wip.ViewModels.WipProjectViewModel>

@{
    ViewBag.Title = ViewBag.SectionTitle ?? "Проекты в разработке";
    AddPageCssClass("wip-page");
}

@section Nav { @Html.Partial("_WipMenu") }

@if (!Model.Any())
{
    <div class="projects-not-found">
        Проекты не найдены
    </div>
}

<div class="projects-list">
@foreach (var user in Model)
{
    @Html.Partial("_ProjectListItem", user)
}
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)