@using MirGames.Domain.Security
@using MirGames.Models
@model IEnumerable<MirGames.Domain.Wip.ViewModels.WipProjectViewModel>

@{
    ViewBag.Title = ViewBag.SectionTitle ?? "Проекты в разработке";
    AddPageCssClass("wip-page");
}

<div class="page-header">
    <div class="header">
        <h3>Проекты</h3>
    </div>
    <div class="buttons">
        @if (User.Can("Create", "WipProject"))
        {
            <a href="@Url.Action("New", "Projects")" class="add-wip-project"><i class="fa fa-plus"></i>Новый проект</a>
        }
    </div>
</div>

@if (!Model.Any())
{
    <div class="projects-not-found">
        Проекты не найдены
    </div>
}

<div class="projects-list">
@foreach (var user in Model)
{
    @Html.Partial("_ProjectListItem", user)
}
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)