body {} @import "../settings.less";
@import "mixins.less";
@import "../../Areas/Topics/Content/mixins.less";
@import "../../Areas/Forum/Content/mixins.less";

.dashboard-page {
    & > section {
        @border-color: mix(@background-color, @header-background, 93%);
        .make-row(flex-start);

        & > article {
            .indent();

            & > h3 {
                .page-title();
            }
        }

        & > .welcome {
            .page-main-block();
        }

        & > section {
            .box-sizing(border-box);
            overflow: hidden;
            padding: @indent;
            .make-xs-column(12);
            .make-sm-column(6);

            & > h3 {
                .page-subtitle();
            }

            &.projects-subsection {
                .make-sm-column(12);
                padding-bottom: @indent;
                margin-bottom: @indent;
                border-bottom: 5px solid mix(@background-color, @header-background, 70%);

                & > h3 {
                    margin-bottom: 0;
                }

                & > .projects-list {
                    .make-row();

                    & > .project-list-item {
                        .make-xs-column(3);
                        min-width: 300px;
                        margin-top: @indent;
                        padding-right: @indent/4;

                        &:last-child {
                            padding-right: 0;
                        }

                        & > .project-info {
                            .page-block(@indent/2);
                            overflow: hidden;
                            .box-sizing(border-box);

                            a {
                                overflow: hidden;
                            }

                            & > .description {
                                height: 30px;
                                margin-bottom: 5px;
                                overflow: hidden;
                                -ms-text-overflow: ellipsis;
                                -o-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                            }

                            & > .user-login {
                                .font-size(1.1);

                                & > .avatar {
                                    .avatar(16px);
                                }

                                & > span {
                                    margin-left: 20px;
                                }
                            }

                            & > .logo {
                                float: left;
                                margin-right: @indent/2;
                                .hidden-sm();

                                & > img {
                                    max-width: 100%;
                                    max-height: 200px;
                                    border: 1px solid @border-color;
                                    padding: 2px;
                                    background: @background-color;
                                    .box-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
                                }
                            }

                            & > h1 {
                                .header-font();
                                .font-size(1.5);
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }

            &.blog-subsection {
                .make-lg-column(7);
                padding-right: @indent;
                padding-top: 0;

                & > .topics-list {
                    .topics-list-item();

                    & > .message > .message-content > header {
                        a.topic-title {
                            .font-size(1.5);
                        }
                    }
                }
            }

            &.forum-subsection {
                .make-lg-column(5);
                padding-top: 0;
                padding-left: @indent;
                border-left: 1px solid @border-color;

                .forum-topics-list {
                    .forum-topic-list(0);

                    & > .message {
                        margin-bottom: @indent/3;

                        & > .message-content {
                            border-bottom: 0px;
                            .box-sizing(border-box);

                            & > .topic-title-block {
                                .make-xs-column(8);
                                .make-lg-column(10);
                            }

                            & > .replies-count {
                                .make-xs-column(4);
                                .make-lg-column(2);
                            }

                            &:first-child {
                                border-top: 0px;
                            }
                        }
                    }

                        & > .message:nth-child(odd) {
                            background: @background-color;
                        }
                }
            }
        }
    }
}