.dashboard-page > section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dashboard-page > section > article {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.dashboard-page > section > article > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.dashboard-page > section > .welcome {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  border-bottom: 5px solid #c3cfd7;
}
.dashboard-page > section > .welcome > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.dashboard-page > section > section {
  overflow: hidden;
  padding: 20px;
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 768px) {
  .dashboard-page > section > section {
    float: left;
    width: 50%;
  }
}
.dashboard-page > section > section > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.dashboard-page > section > section.projects-subsection {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 5px solid #c3cfd7;
}
@media (min-width: 768px) {
  .dashboard-page > section > section.projects-subsection {
    float: left;
    width: 100%;
  }
}
.dashboard-page > section > section.projects-subsection > h3 {
  margin-bottom: 0;
}
.dashboard-page > section > section.projects-subsection > .projects-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 300px;
  margin-top: 20px;
  padding-right: 5px;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item:last-child {
  padding-right: 0;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info {
  padding: 10px 0;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info:first-of-type {
  padding-top: 0;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info:last-of-type {
  padding-bottom: 0;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info a {
  overflow: hidden;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .description {
  height: 30px;
  margin-bottom: 5px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .user-login {
  font-size: 11px;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .user-login > .avatar {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .user-login > span {
  margin-left: 20px;
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .logo {
  float: left;
  margin-right: 10px;
}
@media (max-width: 991px) {
  .dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .logo {
    display: none;
  }
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > .logo > img {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #f1f4f6;
  padding: 2px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.dashboard-page > section > section.projects-subsection > .projects-list > .project-list-item > .project-info > h1 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}
.dashboard-page > section > section.blog-subsection {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 20px;
  padding-top: 0;
}
@media (min-width: 1200px) {
  .dashboard-page > section > section.blog-subsection {
    float: left;
    width: 58.33333333%;
  }
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message {
  padding: 20px 0;
  padding-top: 0;
  padding-bottom: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message:first-of-type {
  padding-top: 0;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message:last-of-type {
  padding-bottom: 0;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message:first-of-type {
  margin-top: 0;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content {
  overflow: hidden;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header {
  font-size: 12px;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header a.topic-title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 18px;
  color: #2f7db5;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header a.topic-title:active,
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header a.topic-title:hover,
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header a.topic-title:focus {
  color: #b52f7d;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header span {
  font-size: 12px;
  color: #8c8c0c;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer {
  position: relative;
  overflow: hidden;
  font-size: 11px;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer .user-login {
  float: left;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  font-weight: bold;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer .answers-link {
  float: left;
  display: block;
  height: 24px;
  line-height: 24px;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul {
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
  float: right;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 150px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a:active,
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a:hover,
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a:focus {
  color: #ffffff;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a:hover,
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a:active,
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > footer > ul > li:last-child {
  margin-right: 0;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content p {
  line-height: 140%;
  margin-bottom: 10px;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > div {
  margin: 5px 0px 10px 0px;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .avatar {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #dcdcdc;
}
.dashboard-page > section > section.blog-subsection > .topics-list > .message > .message-content > header a.topic-title {
  font-size: 15px;
}
.dashboard-page > section > section.forum-subsection {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 0;
  padding-left: 20px;
  border-left: 1px solid #f1f4f6;
}
@media (min-width: 1200px) {
  .dashboard-page > section > section.forum-subsection {
    float: left;
    width: 41.66666667%;
  }
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message {
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #f5f5f5;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message:last-of-type {
  border-bottom: 0;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message .fa-envelope {
  color: #d04796;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message .fa-envelope-o {
  color: #818d96;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message.read .fa-envelope {
  display: none;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message.read > .message-content > .topic-title-block > .topic-title {
  color: #2f7db5;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message.unread .fa-envelope-o {
  display: none;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block {
  margin-bottom: 2px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > div.tags {
  font-size: 11px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > div.tags > span {
  margin-right: 3px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > div.tags > span a {
  color: #999;
  text-decoration: none;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > div.tags > span a:hover {
  color: #d04796;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > footer {
  font-size: 11px;
  color: #999;
  margin-top: 5px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > footer a {
  color: #999;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > footer a:hover {
  color: #d04796;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > footer > span.author {
  margin-right: 10px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 15px;
  color: #24618d;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-title:active,
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-title:hover,
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-title:focus {
  color: #b52f7d;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-pagination {
  display: inline-block;
  vertical-align: -5px;
  margin-left: 5px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-pagination > .pagination {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 11px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li {
  border: 1px solid #eee;
  margin-left: 1px;
  height: 14px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li > a {
  color: #24618d;
  padding: 0px 5px;
  text-decoration: none;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block > .topic-pagination > .pagination > ol > li > a:hover {
  color: #d04796;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .replies-count {
  font-family: "Droid Sans", Tahoma, sans-serif;
  color: #000;
  font-size: 14px;
  text-align: center;
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .replies-count .new-reply {
  background: #8d2461;
  font-size: 13px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  padding: 2px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .replies-count .new-reply:hover {
  color: #ffffff;
  background: #d04796;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .last-post-info {
  display: none;
  width: 20%;
}
@media (max-width: 991px) {
  .dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .last-post-info {
    display: none;
  }
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .last-post-info img {
  float: left;
  margin-right: 5px;
}
@media (max-width: 991px) {
  .dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .last-post-info img {
    display: none;
  }
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .last-post-info .topic-updated-date {
  display: block;
  font-size: 12px;
  color: #8c8c0c;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message {
  margin-bottom: 6.66666667px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content {
  border-bottom: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block {
  float: left;
  width: 66.66666667%;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 1200px) {
  .dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .topic-title-block {
    float: left;
    width: 83.33333333%;
  }
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .replies-count {
  float: left;
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 1200px) {
  .dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content > .replies-count {
    float: left;
    width: 16.66666667%;
  }
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message > .message-content:first-child {
  border-top: 0px;
}
.dashboard-page > section > section.forum-subsection .forum-topics-list > .message:nth-child(odd) {
  background: #ffffff;
}
/*# sourceMappingURL=dashboard-page.css.map */