<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAutomation.Core" version="3.0.0.0" targetFramework="net45" />
  <package id="FluentAutomation.SeleniumWebDriver" version="3.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1408.0717" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Selenium.Support" version="2.42.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.42.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.Extensions" version="0.10" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="Specflow.FluentAutomation" version="0.9.9" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
</packages>