.topic-page > nav .topic-info .scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 3px;
  display: none;
}
.topic-page > nav a.add-to-favorite .fa {
  color: #ffd800;
  text-shadow: 0px 0px 1px #000;
}
.topic-page > nav a.delete-topic .fa {
  color: #f00;
  text-shadow: 0px 0px 1px #000;
}
.topic-page > section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.topic-page > section > header {
  position: relative;
}
.topic-page > section > header > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.topic-page > section > header > ul.tags {
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
  float: right;
  margin-top: 6px;
}
.topic-page > section > header > ul.tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.topic-page > section > header > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.topic-page > section > header > ul.tags > li a:active,
.topic-page > section > header > ul.tags > li a:hover,
.topic-page > section > header > ul.tags > li a:focus {
  color: #ffffff;
}
.topic-page > section > header > ul.tags > li a:hover,
.topic-page > section > header > ul.tags > li a:active,
.topic-page > section > header > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.topic-page > section > header > ul.tags > li:last-child {
  margin-right: 0;
}
.topic-page > section > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topic-page > section > article {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 20px 0px;
}
.topic-page > section > article .topic-text {
  margin-bottom: 20px;
}
.topic-page > section > article > footer {
  overflow: hidden;
  line-height: 24px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}
.topic-page > section > article > footer .avatar-link {
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.topic-page > section > article > footer .avatar-link img {
  margin-right: 10px;
}
.topic-page > section > article > footer .creation-date {
  font-size: 12px;
  color: #8c8c0c;
  float: left;
  margin-right: 10px;
}
.topic-page > section > article > footer .share {
  float: right;
}
.topic-page > section > article > footer > ul.tags {
  overflow: hidden;
  list-style-type: none;
  float: left;
  line-height: normal;
  font-size: 11px;
}
.topic-page > section > article > footer > ul.tags > li {
  float: left;
  margin-right: 2px;
  display: block;
}
.topic-page > section > article > footer > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: none;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.topic-page > section > article > footer > ul.tags > li a:active,
.topic-page > section > article > footer > ul.tags > li a:hover,
.topic-page > section > article > footer > ul.tags > li a:focus {
  color: #ffffff;
}
.topic-page > section > article > footer > ul.tags > li a:hover,
.topic-page > section > article > footer > ul.tags > li a:active,
.topic-page > section > article > footer > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.topic-page > section > article > footer > ul.tags > li:last-child {
  margin-right: 0;
}
.topic-page > section .comments-list {
  margin-bottom: 20px;
}
.topic-page > section .comments-list > .comment {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}
.topic-page > section .comments-list > .comment:last-child {
  margin-bottom: 0;
}
.topic-page > section .comments-list > .comment > header {
  overflow: hidden;
}
.topic-page > section .comments-list > .comment > header .avatar-link {
  float: left;
}
.topic-page > section .comments-list > .comment > header .avatar-link img {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.topic-page > section .comments-list > .comment > header .user-login {
  margin-right: 20px;
  margin-left: 10px;
  font-weight: bold;
  float: left;
  margin-top: 8px;
}
.topic-page > section .comments-list > .comment > header .comment-date {
  font-size: 12px;
  color: #8c8c0c;
  float: left;
  margin-top: 8px;
}
.topic-page > section .comments-list > .comment > header .message-bar {
  font-size: 15px;
  float: left;
  margin-top: 7px;
}
.topic-page > section .comments-list > .comment > header .message-bar > .edited {
  margin-left: 10px;
  font-size: 11px;
  color: #999;
  margin-top: 2px;
  float: left;
}
.topic-page > section .comments-list > .comment > header .message-bar a {
  margin-left: 20px;
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  opacity: 0.5;
}
.topic-page > section .comments-list > .comment > header .message-bar a:hover {
  opacity: 1;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.topic-page > section .comments-list > .comment > header .message-bar a.delete-comment {
  color: #900;
  float: right;
}
.topic-page > section .comments-list > .comment > .text {
  margin-left: 42px;
}
.topic-page > section .comment-form {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.topic-page > section .comment-form .text-editor-field div.mdd_editor_wrap textarea {
  height: 100px;
}
/*# sourceMappingURL=topic.css.map */