body {} @import "references.less";
@import "../../Topics/Content/mixins.less";
@import "mixins.less";

.wip-project-page {
    & > section {
        .project-info();

        & > section {
            .indent();

            h3 {
                .page-title();
            }

            h4 {
                .page-subtitle();
            }

            .screenshots {
                .page-block();
                margin-bottom: @indent;
                overflow: hidden;
                padding: @indent/4;
                list-style-type: none;
                white-space: nowrap;

                li {
                    display: inline-block;
                    padding: @indent/4;
                    .box-sizing(border-box);
                    max-width: 20%;

                    img {
                        min-width: 128px;
                        height: 128px;
                    }
                }
            }

            .aside-section {
                .make-lg-column(3);

                .work-items {
                    overflow: hidden;
                    margin-bottom: @indent;

                    & > div {
                        display: block;
                        width: 33.333%;
                        .box-sizing(border-box);
                        float: left;
                        border: 1px solid @border-color;
                        text-align: center;
                        height: @indent * 3;
                        position: relative;
                        overflow: hidden;
                        .transition(background-color, 0.2s);

                        & > a {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            line-height: @indent * 3;
                            z-index: 3;
                            .font-size(2);
                            color: #fff;
                            text-decoration: none;
                            text-shadow: 0 0 10px contrast(#fff);

                            &:hover {
                            }
                        }

                        & > .fa {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            font-size: @indent * 3;
                            color: rgba(0, 0, 0, 0.2);
                            z-index: 2;
                        }
                    }

                    & > .bug-type {
                        background: @bug-color;

                        &:hover {
                            background: lighten(@bug-color, 20%);
                        }
                    }
                    
                    & > .task-type {
                        background: @task-color;

                        &:hover {
                            background: lighten(@task-color, 20%);
                        }
                    }

                    & > .feature-type {
                        background: @feature-color;

                        &:hover {
                            background: lighten(@feature-color, 20%);
                        }
                    }
                }

                .commits {
                    .page-block();

                    .commit {
                        overflow: hidden;
                        margin-bottom: @indent;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .user-name {
                            color: mix(@font-color, @background-color, 50%);
                        }

                        .date {
                            color: @date-color;
                        }
                    }
                }
            }

            .repository-url {
                .page-block();
                margin-bottom: @indent;

                input {
                    width: 100%;
                    margin-top: @indent/4;
                    .box-sizing(border-box);
                    color: mix(@font-color, @background-color, 50%);
                    .form-input();
                }
            }

            .main-section {
                .make-lg-column(9);
                padding-right: @indent;
            }

            .blog-posts {
                .topics-list-item();
            }
        }
    }
}