body {} @import "references.less";

.wip-page {
    & > section {
        overflow: hidden;

        & > .projects-list {
            padding: 0 @indent;
            padding-bottom: @indent;
            float: left;
            width: 70%;
            .box-sizing(border-box);
            padding-right: @indent;
            border-right: 1px solid @border-color;

            & > .project {
                overflow: hidden;
                padding-top: @indent/2;
                padding-bottom: @indent/2;
                border-bottom: 1px solid #eee;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                & > .project-info {
                    display: table;
                    table-layout: fixed;
                    width: 100%;

                    & > .avatar-link {
                        display: table-cell;
                        width: @avatar-small + @indent/4;
                    }

                    & > .project-title {
                        display: table-cell;
                        width: 60%;
                        padding-left: 10px;
                        .box-sizing(border-box);
                        vertical-align: middle;

                        & > a {
                            .header-font();
                            .font-size(1.5);
                        }

                        & > .short-description {
                            color: mix(@background-color, @font-color, 50%);
                            margin: @indent/4 0;
                        }

                        & > .tags {
                            & > span {
                                &::after {
                                    content: ", ";
                                }

                                &:last-child {
                                    &::after {
                                        content: "";
                                    }
                                }
                            }
                        }
                    }

                    & > .project-rating {
                        display: table-cell;
                        .header-font();
                        width: 10%;
                        vertical-align: middle;
                        text-align: center;
                    }

                    & > .followers-count {
                        display: table-cell;
                        width: 10%;
                        width: 100px;
                        vertical-align: middle;
                        text-align: center;

                        .fa {
                            color: #8c8c0c;
                        }
                    }

                    & > .genre {
                        display: table-cell;
                        width: 10%;
                        vertical-align: middle;
                        text-align: center;
                    }

                    & > .project-updated {
                        display: table-cell;
                        width: 10%;
                        color: @date-color;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
        }

        & > .projects-more-info {
            width: 30%;
            float: left;
            .box-sizing(border-box);
            padding: 0 @indent;
            margin-bottom: @indent;

            & > h3 {
               .page-subtitle();
            }

            & > .tags {
                margin-bottom: @indent * 2;
            }
        }
    }
}