.project-settings-page > section > .project-info-block > .project-description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  border-bottom: 5px solid #c3cfd7;
  border-bottom: 0;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.project-settings-page > section > .project-info-block > .project-description > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.project-settings-page > section > .project-info-block > .project-description .fa {
  margin-right: 5px;
}
.project-settings-page > section > .project-info-block > .project-description > .logo {
  width: 115px;
  text-align: center;
  padding-right: 20px;
}
.project-settings-page > section > .project-info-block > .project-description > .logo > img {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #eeeeee;
  padding: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.project-settings-page > section > .project-info-block > .project-description > .project-info {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  padding-right: 10px;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > h1 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 18px;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > .project-description {
  padding: 10px 0;
  max-height: 200px;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > .project-description > .content {
  padding: 10px 0;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > .project-stats {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > .project-stats > span {
  margin-right: 10px;
  display: block;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > .project-stats > span.updated-date {
  color: #8c8c0c;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > footer {
  font-size: 11px;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > footer > .user-login {
  overflow: hidden;
  font-weight: bold;
}
@media (min-width: 992px) {
  .project-settings-page > section > .project-info-block > .project-description > .project-info > footer > .user-login {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .project-settings-page > section > .project-info-block > .project-description > .project-info > footer > .user-login > .avatar {
    display: none;
  }
  .project-settings-page > section > .project-info-block > .project-description > .project-info > footer > .user-login > span {
    margin-left: 0;
  }
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > footer > .user-login span {
  margin-top: 3px;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags {
  margin-top: 10px;
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 150px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:active,
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:hover,
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:focus {
  color: #ffffff;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:hover,
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:active,
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.project-settings-page > section > .project-info-block > .project-description > .project-info > ul.tags > li:last-child {
  margin-right: 0;
}
.project-settings-page > section > .project-info-block > .project-short-info {
  padding: 10px 20px;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #f5f7f8;
  border: 0;
  border-top: 1px solid #ebeff2;
  border-bottom: 5px solid #c3cfd7;
}
.project-settings-page > section > .project-info-block > .project-short-info .fa {
  margin-right: 5px;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items {
  overflow: hidden;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > div {
  display: block;
  width: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  border: 1px solid #eeeeee;
  text-align: center;
  height: 30px;
  position: relative;
  overflow: hidden;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > div > a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  z-index: 3;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 10px #000000;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > div > .fa {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > .bug-type {
  background: #8d2461;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > .bug-type:hover {
  background: #d04796;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > .task-type {
  background: #618d24;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > .task-type:hover {
  background: #96d047;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > .feature-type {
  background: #24618d;
}
.project-settings-page > section > .project-info-block > .project-short-info > .work-items > .feature-type:hover {
  background: #4796d0;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker.open > .dropdown-toggle {
  background: #ad6a91;
  border: 1px solid #935177;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 10px;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 12px;
  display: block;
  background: #6a91ad;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #517793;
  text-shadow: 0px 0px 4px #000;
  margin-right: 4px;
  line-height: 20px;
  min-width: 60px;
  min-width: 3vw;
  text-align: center;
  padding: 3px 10px;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle:hover,
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle:active,
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle:focus {
  background: #ad6a91;
  border: 1px solid #935177;
  color: #ffffff;
  text-decoration: none;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle.button-disabled {
  opacity: 0.5;
  color: #999;
  cursor: default;
  background: #000000;
  border: 1px solid #000000;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle.button-disabled:hover {
  color: #999;
  background: #000000;
  border: 1px solid #000000;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-menu {
  left: 0;
}
.project-settings-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-menu li > a {
  padding: 5px 10px;
}
.project-settings-page > section > .new-project-form {
  padding: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.project-settings-page > section > .new-project-form:first-of-type {
  padding-top: 0;
}
.project-settings-page > section > .new-project-form:last-of-type {
  padding-bottom: 0;
}
.project-settings-page > section > .new-project-form > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.project-settings-page > section > .new-project-form > h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.project-settings-page > section > .new-project-form .project-address {
  width: 200px;
}
.project-settings-page > section > .new-project-form .logo-field {
  position: relative;
}
.project-settings-page > section > .new-project-form .logo-field .logo {
  background-size: cover;
  background-clip: content-box;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #eeeeee;
  padding: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.project-settings-page > section > .new-project-form .logo-field .upload-file {
  position: absolute;
  left: 110px;
  margin-top: -12px;
  top: 50%;
  padding: 5px;
}
.project-settings-page > section > .new-project-form .logo-field .upload-file.drag-over {
  outline: 1px dashed #999;
  opacity: 0.5;
}
/*# sourceMappingURL=project-settings.css.map */