.wip-workitems-page > section > .project-info-block > .project-description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff;
  border-bottom: 5px solid #c3cfd7;
  border-bottom: 0;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wip-workitems-page > section > .project-info-block > .project-description > h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.wip-workitems-page > section > .project-info-block > .project-description .fa {
  margin-right: 5px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .logo {
  width: 115px;
  text-align: center;
  padding-right: 20px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .logo > img {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #f5f5f5;
  padding: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  padding-right: 10px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > h1 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 18px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > .project-description {
  padding: 10px 0;
  max-height: 200px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > .project-description > .content {
  padding: 10px 0;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > .project-stats {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > .project-stats > span {
  margin-right: 10px;
  display: block;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > .project-stats > span.updated-date {
  color: #6d7707;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > footer {
  font-size: 11px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > footer > .user-login {
  overflow: hidden;
  font-weight: bold;
}
@media (min-width: 992px) {
  .wip-workitems-page > section > .project-info-block > .project-description > .project-info > footer > .user-login {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .wip-workitems-page > section > .project-info-block > .project-description > .project-info > footer > .user-login > .avatar {
    display: none;
  }
  .wip-workitems-page > section > .project-info-block > .project-description > .project-info > footer > .user-login > span {
    margin-left: 0;
  }
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > footer > .user-login span {
  margin-top: 3px;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags {
  margin-top: 10px;
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 150px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:active,
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:hover,
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:focus {
  color: #ffffff;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:hover,
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:active,
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.wip-workitems-page > section > .project-info-block > .project-description > .project-info > ul.tags > li:last-child {
  margin-right: 0;
}
.wip-workitems-page > section > .project-info-block > .project-short-info {
  padding: 10px 20px;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #f5f7f8;
  border: 0;
  border-top: 1px solid #ebeff2;
  border-bottom: 5px solid #c3cfd7;
}
.wip-workitems-page > section > .project-info-block > .project-short-info .fa {
  margin-right: 5px;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items {
  overflow: hidden;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > div {
  display: block;
  width: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  border: 1px solid #f5f5f5;
  text-align: center;
  height: 30px;
  position: relative;
  overflow: hidden;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > div > a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  z-index: 3;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 10px #000000;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > div > .fa {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > .bug-type {
  background: #8d2461;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > .bug-type:hover {
  background: #d04796;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > .task-type {
  background: #618d24;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > .task-type:hover {
  background: #96d047;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > .feature-type {
  background: #24618d;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .work-items > .feature-type:hover {
  background: #4796d0;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker.open > .dropdown-toggle {
  background: #ad6a91;
  border: 1px solid #935177;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 10px;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 12px;
  display: block;
  background: #6a91ad;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #517793;
  text-shadow: 0px 0px 4px #000;
  margin-right: 4px;
  line-height: 20px;
  min-width: 60px;
  min-width: 3vw;
  text-align: center;
  padding: 3px 10px;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle:hover,
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle:active,
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle:focus {
  background: #ad6a91;
  border: 1px solid #935177;
  color: #ffffff;
  text-decoration: none;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle.button-disabled {
  opacity: 0.5;
  color: #999;
  cursor: default;
  background: #000000;
  border: 1px solid #000000;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-toggle.button-disabled:hover {
  color: #999;
  background: #000000;
  border: 1px solid #000000;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-menu {
  left: 0;
}
.wip-workitems-page > section > .project-info-block > .project-short-info > .add-to-tracker > .dropdown-menu li > a {
  padding: 5px 10px;
}
.wip-workitems-page > section > section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.wip-workitems-page > section > section h3 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 0;
  text-shadow: 1px 1px 4px #ffffff;
}
.wip-workitems-page > section > section h4 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.wip-workitems-page > section > section .toolbar {
  display: inline-block;
  border: 1px solid #cdd7de;
  background: #5c7f97;
  border-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wip-workitems-page > section > section .toolbar > .form-field {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  height: 32px;
  line-height: 32px;
}
.wip-workitems-page > section > section .toolbar > .form-field > a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 5px;
  opacity: 0.8;
  display: block;
  height: 32px;
}
.wip-workitems-page > section > section .toolbar > .form-field > a.button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: block;
  text-align: center;
}
.wip-workitems-page > section > section .toolbar > .form-field > a.selected {
  opacity: 1;
  cursor: default;
}
.wip-workitems-page > section > section .toolbar > .form-field > a.selected > .fa {
  opacity: 1;
}
.wip-workitems-page > section > section .toolbar > .form-field > a > .fa {
  opacity: 0.3;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.wip-workitems-page > section > section .toolbar > .form-field > a:hover,
.wip-workitems-page > section > section .toolbar > .form-field > a:active,
.wip-workitems-page > section > section .toolbar > .form-field > a:focus {
  opacity: 1;
}
.wip-workitems-page > section > section .toolbar > .form-field > a:hover .fa,
.wip-workitems-page > section > section .toolbar > .form-field > a:active .fa,
.wip-workitems-page > section > section .toolbar > .form-field > a:focus .fa {
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-items {
  padding: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wip-workitems-page > section > section .tracker-items:first-of-type {
  padding-top: 0;
}
.wip-workitems-page > section > section .tracker-items:last-of-type {
  padding-bottom: 0;
}
.wip-workitems-page > section > section .tracker-items > .data-loading {
  margin-top: 10px;
}
.wip-workitems-page > section > section .tracker-items > .not-found {
  margin-top: 10px;
}
.wip-workitems-page > section > section .tracker-items .tracker-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.last {
  border-bottom-width: 0;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.p0 {
  color: #64803d;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.p1 {
  color: #96a017;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.p2 {
  color: #d0b401;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.p3 {
  color: #e48c00;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.p4 {
  color: #f00;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.Open > .item-status > span.open-status {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.Active > .item-status > span.active-status {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-items .tracker-item.Closed > .item-status > span.closed-status {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-type {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 25px;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-type .fa {
  font-size: 15px;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-type .bug-type {
  color: #8d2461;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-type .feature-type {
  color: #24618d;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-type .task-type {
  color: #618d24;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-status {
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 25px;
  width: 25px;
  position: relative;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-status > span {
  position: absolute;
  left: 3px;
  top: 0;
  line-height: 25px;
  opacity: 0;
  visibility: hidden;
  -moz-transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
  -o-transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
  -webkit-transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
  transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-status.change-status:hover {
  cursor: pointer;
  color: #d04796;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-status .fa {
  font-size: 15px;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .author {
  padding-left: 5px;
  width: auto;
  overflow: hidden;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .author img {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .item-state {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 13px;
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .title > .description {
  font-size: 11px;
  color: #999999;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .internal-id {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: auto;
  padding-left: 10px;
  text-align: right;
  color: #999999;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: auto;
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a:active,
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a:hover,
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a:focus {
  color: #ffffff;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a:hover,
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a:active,
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.wip-workitems-page > section > section .tracker-items .tracker-item > .tags > li:last-child {
  margin-right: 0;
}
.wip-workitems-page > section > section .tracker-item-blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}
.wip-workitems-page > section > section .tracker-item-blocks .items {
  margin-bottom: 20px;
  padding: 10px 10px;
  padding-bottom: 10px;
}
.wip-workitems-page > section > section .tracker-item-blocks .items > h1 {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 4px #ffffff;
  border: none;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.wip-workitems-page > section > section .tracker-item-blocks .items:first-child {
  padding-left: 0;
}
.wip-workitems-page > section > section .tracker-item-blocks .items:last-child {
  padding-right: 0;
}
.wip-workitems-page > section > section .tracker-item-blocks .items.on-drag-hover {
  opacity: 0.6;
}
.wip-workitems-page > section > section .tracker-item-blocks .open-items {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wip-workitems-page > section > section .tracker-item-blocks .active-items {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wip-workitems-page > section > section .tracker-item-blocks .closed-items {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item {
  border-bottom: 1px solid #f5f5f5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.last {
  border-bottom-width: 0;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.p0 {
  color: #64803d;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.p1 {
  color: #96a017;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.p2 {
  color: #d0b401;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.p3 {
  color: #e48c00;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.p4 {
  color: #f00;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.Open > .item-status > span.open-status {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.Active > .item-status > span.active-status {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.Closed > .item-status > span.closed-status {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-type {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 25px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-type .fa {
  font-size: 15px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-type .bug-type {
  color: #8d2461;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-type .feature-type {
  color: #24618d;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-type .task-type {
  color: #618d24;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-status {
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 25px;
  width: 25px;
  position: relative;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-status > span {
  position: absolute;
  left: 3px;
  top: 0;
  line-height: 25px;
  opacity: 0;
  visibility: hidden;
  -moz-transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
  -o-transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
  -webkit-transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
  transition: visibility 0s linear 0.1s, opacity 0.1s ease-in;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-status.change-status:hover {
  cursor: pointer;
  color: #d04796;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-status .fa {
  font-size: 15px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .author {
  padding-left: 5px;
  width: auto;
  overflow: hidden;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .author img {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .item-state {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .title {
  font-family: "Droid Sans", Tahoma, sans-serif;
  font-size: 13px;
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .title > .description {
  font-size: 11px;
  color: #999999;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .internal-id {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: auto;
  padding-left: 10px;
  text-align: right;
  color: #999999;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: auto;
  overflow: hidden;
  list-style-type: none;
  font-size: 11px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a {
  background: #818d96;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
  max-width: 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a:active,
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a:hover,
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a:focus {
  color: #ffffff;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a:hover,
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a:active,
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li a:focus {
  background: #515a60;
  color: #ffffff;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item > .tags > li:last-child {
  margin-right: 0;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.last {
  border-bottom-width: 1px;
}
.wip-workitems-page > section > section .tracker-item-blocks .tracker-item.on-drag-start {
  opacity: 0.6;
}
.wip-workitems-page > section > section .tracker-item-blocks .drop-zone {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.wip-workitems-page > section > section .tracker-item-blocks .drop-zone > span {
  display: block;
  height: 0;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.wip-workitems-page > section > section .tracker-item-blocks .drop-zone.on-drag-hover > span {
  height: 20px;
  border: 1px dotted rgba(0, 0, 0, 0.3);
}
.wip-workitems-page > section > section .new-item-form {
  padding: 20px 0;
}
.wip-workitems-page > section > section .new-item-form:first-of-type {
  padding-top: 0;
}
.wip-workitems-page > section > section .new-item-form:last-of-type {
  padding-bottom: 0;
}
/*# sourceMappingURL=project-work-items.css.map */