@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel>

@if (!Model.Any())
{
    <div class="topics-not-found">
        Обсуждения не найдены
    </div>
}

@foreach (var topic in Model)
{
    @Html.Partial("_ForumTopicListItem", topic)
}